<!DOCTYPE html>
<html>

<head>
    <title>{{message}}</title>

<style>

@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);

body {
  background: #000;
  overflow: hidden;
}

svg{
  width: 1000px;
  height: 100px;
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  background: black;
}

</style>
<script>
window.onload = function(argument) {

	var request = window.requestAnimationFrame || window.mozRequestAnimationFrame || window.webkitRequestAnimationFrame || function(cb) {
		return setTimeout(cb, 30)
	};

	w = window.innerWidth,
		h = window.innerHeight;

	var canvas = document.getElementById('c');
	canvas.width = w,
		canvas.height = h;

	var c = canvas.getContext("2d"),
		x = 100,
		y = 100,
		pointsObjectArray = [],
		frameCount = 1;

	pointsNumber = 100,
		mouseCoordinate = [null, null],
		clickCheck = false;

	window.document.body.onclick = function(argument) {
		mouseCoordinate = [argument.clientX, argument.clientY];
		if (!clickCheck) {
			clickCheck = !clickCheck;
		}
		for (var i = 0; i < pointsNumber; i++) {
			pointsObjectArray[i] = new Point();
		};
		frameCount = 1;
	}

	/* check the number of argument to make sure which dimension we want. (onely 1~3)*/
	var bezierLine = function(bezierPointArray, frame) {
		frame = frame / 400;
		minusT = 1 - frame;
		tempCoordinate = [0, 0];
		switch (bezierPointArray.length) {
			case 2:
				tempCoordinate[0] = minusT * bezierPointArray[0][0] + frame * bezierPointArray[1][0];
				tempCoordinate[1] = minusT * bezierPointArray[0][1] + frame * bezierPointArray[1][1];
				return tempCoordinate;
			case 3:
				tempCoordinate[0] = Math.pow(minusT, 2) * bezierPointArray[0][0] + 2 * minusT * frame * bezierPointArray[1][0] + Math.pow(frame, 2) * bezierPointArray[2][0];
				tempCoordinate[1] = Math.pow(minusT, 2) * bezierPointArray[0][1] + 2 * minusT * frame * bezierPointArray[1][1] + Math.pow(frame, 2) * bezierPointArray[2][1];
				return tempCoordinate;
			case 4:
				tempCoordinate[0] = Math.pow(minusT, 3) * bezierPointArray[0][0] + 3 * bezierPointArray[1][0] * frame * Math.pow(minusT, 2) + 3 * bezierPointArray[2][0] * Math.pow(frame, 2) * minusT + bezierPointArray[3][0] * Math.pow(frame, 3);
				tempCoordinate[1] = Math.pow(minusT, 3) * bezierPointArray[0][1] + 3 * bezierPointArray[1][1] * frame * Math.pow(minusT, 2) + 3 * bezierPointArray[2][1] * Math.pow(frame, 2) * minusT + bezierPointArray[3][1] * Math.pow(frame, 3);
				return tempCoordinate;
		}
	}

	var random = function() {
		tempI = arguments[0];
		return Math.random() * tempI;
	}


	/* start from startPoint, end at endPoint. During the animation, use previousPoint and nextPoint to caculate it.
		then use bezierPoint 1 and 2 to make the curve.  */
	var Point = function() {
		if (clickCheck) {
			this.startPoint = mouseCoordinate;
			this.endPoint = [mouseCoordinate[0]+1, mouseCoordinate[0]+1];
		} else {
			this.startPoint = [null, null];
			this.endPoint = [null, null];
		}
		this.previousPoint = [null, null];
		this.nextPoint = [null, null];
		this.bezierPoint1 = [null, null];
		this.bezierPoint2 = [null, null];
		this.moveCount = 0;
		this.moveCountCheck = 0;
		this.color = null;
		this.lineWidth = random(200);
		this.cap = "circle";
		this.speed = 2;
	}

	Point.prototype.update = function(frame, whichPoint) {
		if (frame < 2) {
			frame = frame * this.speed;

			if (clickCheck) {

			} else {
				this.startPoint = [w / 2, h / 2];
				this.endPoint = [w / 2 + 1, h / 2 + 1];
			}
			this.previousPoint = this.startPoint;
			this.bezierPoint1 = [random(w), random(h)];
			this.bezierPoint2 = [random(w), random(h)];

		} else {
			frame = frame * this.speed;

			if (this.previousPoint[0] != this.endPoint[0] || this.previousPoint[1] != this.endPoint[1]) {

				this.nextPoint = bezierLine([this.previousPoint, this.bezierPoint1, this.bezierPoint2, this.endPoint], frame);
				c.beginPath();
				c.moveTo(this.previousPoint[0], this.previousPoint[1]);
				c.lineTo(this.nextPoint[0], this.nextPoint[1]);
				if (this.color) {
					c.strokeStyle = this.color;
				} else {
					c.strokeStyle = 'hsla(' + ((frame) * 3) % 360 + ', ' + "100%" + ', ' + random(100).toString() + "%" + ', 1)';
				}
				c.lineWidth = this.lineWidth;
				c.lineCap = this.cap;
				c.stroke();

				this.previousPoint = this.nextPoint;

			} else {
				frameCount = 0;
			}
    }
	};

	function init(pointsNum) {
		for (var i = 0; i < pointsNum; i++) {
			pointsObjectArray[i] = new Point();
		};
	}

	function loop() {

		c.fillStyle = '#000';
		c.fillRect(0, 0, w, h);
		for (var i = 0; i < pointsObjectArray.length; i++) {
			pointsObjectArray[i].update(frameCount, i);
		};

		frameCount++;
		window.requestAnimationFrame(loop);
	}

	init(pointsNumber);
	loop();


}


</script>


</head>
    <body>

      <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <style type="text/css">

      <![CDATA[

      	text {
      		filter: url(#filter);
      		fill: white;
          	font-family: 'Share Tech Mono', sans-serif;
          	font-size: 100px;
      		-webkit-font-smoothing: antialiased;
      		-moz-osx-font-smoothing: grayscale;
           		}
      ]]>
      </style>

      	<defs>

      		<filter id="filter">
      		    <feFlood flood-color="black" result="black" />
      		    <feFlood flood-color="red" result="flood1" />
      		    <feFlood flood-color="limegreen" result="flood2" />
      			<feOffset in="SourceGraphic" dx="3" dy="0" result="off1a"/>
      			<feOffset in="SourceGraphic" dx="2" dy="0" result="off1b"/>
      			<feOffset in="SourceGraphic" dx="-3" dy="0" result="off2a"/>
      			<feOffset in="SourceGraphic" dx="-2" dy="0" result="off2b"/>
      		    <feComposite in="flood1" in2="off1a" operator="in"  result="comp1" />
      		    <feComposite in="flood2" in2="off2a" operator="in" result="comp2" />

       		  	<feMerge x="0" width="100%" result="merge1">
      				<feMergeNode in = "black" />
      				<feMergeNode in = "comp1" />
      				<feMergeNode in = "off1b" />

      				<animate
      					attributeName="y"
      		    		id = "y"
      		    		dur ="4s"

      		    		values = '104px; 104px; 30px; 105px; 30px; 2px; 2px; 50px; 40px; 105px; 105px; 20px; 6ßpx; 40px; 104px; 40px; 70px; 10px; 30px; 104px; 102px'

      		    		keyTimes = '0; 0.362; 0.368; 0.421; 0.440; 0.477; 0.518; 0.564; 0.593; 0.613; 0.644; 0.693; 0.721; 0.736; 0.772; 0.818; 0.844; 0.894; 0.925; 0.939; 1'

      		    		repeatCount = "indefinite" />

      				<animate attributeName="height"
      		    		id = "h"
      		    		dur ="4s"

      		    		values = '10px; 0px; 10px; 30px; 50px; 0px; 10px; 0px; 0px; 0px; 10px; 50px; 40px; 0px; 0px; 0px; 40px; 30px; 10px; 0px; 50px'

      		    		keyTimes = '0; 0.362; 0.368; 0.421; 0.440; 0.477; 0.518; 0.564; 0.593; 0.613; 0.644; 0.693; 0.721; 0.736; 0.772; 0.818; 0.844; 0.894; 0.925; 0.939; 1'

      		    		repeatCount = "indefinite" />
      		    </feMerge>


       			<feMerge x="0" width="100%" y="60px" height="65px" result="merge2">
      				<feMergeNode in = "black" />
      				<feMergeNode in = "comp2" />
      				<feMergeNode in = "off2b" />

      				<animate attributeName="y"
      		    		id = "y"
      		    		dur ="4s"
      		    		values = '103px; 104px; 69px; 53px; 42px; 104px; 78px; 89px; 96px; 100px; 67px; 50px; 96px; 66px; 88px; 42px; 13px; 100px; 100px; 104px;'

      		    		keyTimes = '0; 0.055; 0.100; 0.125; 0.159; 0.182; 0.202; 0.236; 0.268; 0.326; 0.357; 0.400; 0.408; 0.461; 0.493; 0.513; 0.548; 0.577; 0.613; 1'

       		    		repeatCount = "indefinite" />

      				<animate attributeName="height"
      		    		id = "h"
      		    		dur = "4s"

      					values = '0px; 0px; 0px; 16px; 16px; 12px; 12px; 0px; 0px; 5px; 10px; 22px; 33px; 11px; 0px; 0px; 10px'

      		    		keyTimes = '0; 0.055; 0.100; 0.125; 0.159; 0.182; 0.202; 0.236; 0.268; 0.326; 0.357; 0.400; 0.408; 0.461; 0.493; 0.513;  1'

      		    		repeatCount = "indefinite" />
      		    </feMerge>

      		 	<feMerge>
       				<feMergeNode in="SourceGraphic" />

      				<feMergeNode in="merge1" />
       			<feMergeNode in="merge2" />

      		    </feMerge>
      	    </filter>

      	</defs>

      <g>
      	<text x="0" y="100">404 NOT FOUND
        </text>
      </g>

      </svg>


        <!-- <H1>{{status}}</H1>
        <H2>{{message}}</H2>
        <H3>{{error}}</H3> -->
<canvas id="c" ></canvas>




    </body>

</html>
