<md-select style='color:black;' ng-model='reservation.nationality'>
    <md-option ng-model='reservation.nationality' value="Afghanistan" title="Afghanistan">Afghanistan</md-option>
    <md-option ng-model='reservation.nationality' value="Albania" title="Albania">Albania</md-option>
    <md-option ng-model='reservation.nationality' value="Algeria" title="Algeria">Algeria</md-option>
    <md-option ng-model='reservation.nationality' value="American Samoa" title="American Samoa">American Samoa</md-option>
    <md-option ng-model='reservation.nationality' value="Andorra" title="Andorra">Andorra</md-option>
    <md-option ng-model='reservation.nationality' value="Angola" title="Angola">Angola</md-option>
    <md-option ng-model='reservation.nationality' value="Anguilla" title="Anguilla">Anguilla</md-option>
    <md-option ng-model='reservation.nationality' value="Antarctica" title="Antarctica">Antarctica</md-option>
    <md-option ng-model='reservation.nationality' value="Antigua and Barbuda" title="Antigua and Barbuda">Antigua and Barbuda</md-option>
    <md-option ng-model='reservation.nationality' value="Argentina" title="Argentina">Argentina</md-option>
    <md-option ng-model='reservation.nationality' value="Armenia" title="Armenia">Armenia</md-option>
    <md-option ng-model='reservation.nationality' value="Aruba" title="Aruba">Aruba</md-option>
    <md-option ng-model='reservation.nationality' value="Australia" title="Australia">Australia</md-option>
    <md-option ng-model='reservation.nationality' value="Austria" title="Austria">Austria</md-option>
    <md-option ng-model='reservation.nationality' value="Azerbaijan" title="Azerbaijan">Azerbaijan</md-option>
    <md-option ng-model='reservation.nationality' value="Bahamas" title="Bahamas">Bahamas</md-option>
    <md-option ng-model='reservation.nationality' value="Bahrain" title="Bahrain">Bahrain</md-option>
    <md-option ng-model='reservation.nationality' value="Bangladesh" title="Bangladesh">Bangladesh</md-option>
    <md-option ng-model='reservation.nationality' value="Barbados" title="Barbados">Barbados</md-option>
    <md-option ng-model='reservation.nationality' value="Belarus" title="Belarus">Belarus</md-option>
    <md-option ng-model='reservation.nationality' value="Belgium" title="Belgium">Belgium</md-option>
    <md-option ng-model='reservation.nationality' value="Belize" title="Belize">Belize</md-option>
    <md-option ng-model='reservation.nationality' value="Benin" title="Benin">Benin</md-option>
    <md-option ng-model='reservation.nationality' value="Bermuda" title="Bermuda">Bermuda</md-option>
    <md-option ng-model='reservation.nationality' value="Bhutan" title="Bhutan">Bhutan</md-option>
    <md-option ng-model='reservation.nationality' value="Bolivia, Plurinational State of" title="Bolivia, Plurinational State of">Bolivia, Plurinational State of</md-option>
    <md-option ng-model='reservation.nationality' value="Bonaire, Sint Eustatius and Saba" title="Bonaire, Sint Eustatius and Saba">Bonaire, Sint Eustatius and Saba</md-option>
    <md-option ng-model='reservation.nationality' value="Bosnia and Herzegovina" title="Bosnia and Herzegovina">Bosnia and Herzegovina</md-option>
    <md-option ng-model='reservation.nationality' value="Botswana" title="Botswana">Botswana</md-option>
    <md-option ng-model='reservation.nationality' value="Bouvet Island" title="Bouvet Island">Bouvet Island</md-option>
    <md-option ng-model='reservation.nationality' value="Brazil" title="Brazil">Brazil</md-option>
    <md-option ng-model='reservation.nationality' value="British Indian Ocean Territory" title="British Indian Ocean Territory">British Indian Ocean Territory</md-option>
    <md-option ng-model='reservation.nationality' value="Brunei Darussalam" title="Brunei Darussalam">Brunei Darussalam</md-option>
    <md-option ng-model='reservation.nationality' value="Bulgaria" title="Bulgaria">Bulgaria</md-option>
    <md-option ng-model='reservation.nationality' value="Burkina Faso" title="Burkina Faso">Burkina Faso</md-option>
    <md-option ng-model='reservation.nationality' value="Burundi" title="Burundi">Burundi</md-option>
    <md-option ng-model='reservation.nationality' value="Cambodia" title="Cambodia">Cambodia</md-option>
    <md-option ng-model='reservation.nationality' value="Cameroon" title="Cameroon">Cameroon</md-option>
    <md-option ng-model='reservation.nationality' value="Canada" title="Canada">Canada</md-option>
    <md-option ng-model='reservation.nationality' value="Cape Verde" title="Cape Verde">Cape Verde</md-option>
    <md-option ng-model='reservation.nationality' value="Cayman Islands" title="Cayman Islands">Cayman Islands</md-option>
    <md-option ng-model='reservation.nationality' value="Central African Republic" title="Central African Republic">Central African Republic</md-option>
    <md-option ng-model='reservation.nationality' value="Chad" title="Chad">Chad</md-option>
    <md-option ng-model='reservation.nationality' value="Chile" title="Chile">Chile</md-option>
    <md-option ng-model='reservation.nationality' value="China" title="China">China</md-option>
    <md-option ng-model='reservation.nationality' value="Christmas Island" title="Christmas Island">Christmas Island</md-option>
    <md-option ng-model='reservation.nationality' value="Cocos (Keeling) Islands" title="Cocos (Keeling) Islands">Cocos (Keeling) Islands</md-option>
    <md-option ng-model='reservation.nationality' value="Colombia" title="Colombia">Colombia</md-option>
    <md-option ng-model='reservation.nationality' value="Comoros" title="Comoros">Comoros</md-option>
    <md-option ng-model='reservation.nationality' value="Congo" title="Congo">Congo</md-option>
    <md-option ng-model='reservation.nationality' value="Congo, the Democratic Republic of the" title="Congo, the Democratic Republic of the">Congo, the Democratic Republic of the</md-option>
    <md-option ng-model='reservation.nationality' value="Cook Islands" title="Cook Islands">Cook Islands</md-option>
    <md-option ng-model='reservation.nationality' value="Costa Rica" title="Costa Rica">Costa Rica</md-option>
    <md-option ng-model='reservation.nationality' value="Côte d'Ivoire " title="Côte d 'Ivoire">Côte d'Ivoire</md-option>
    <md-option ng-model='reservation.nationality' value="Croatia" title="Croatia">Croatia</md-option>
    <md-option ng-model='reservation.nationality' value="Cuba" title="Cuba">Cuba</md-option>
    <md-option ng-model='reservation.nationality' value="Curaçao" title="Curaçao">Curaçao</md-option>
    <md-option ng-model='reservation.nationality' value="Cyprus" title="Cyprus">Cyprus</md-option>
    <md-option ng-model='reservation.nationality' value="Czech Republic" title="Czech Republic">Czech Republic</md-option>
    <md-option ng-model='reservation.nationality' value="Denmark" title="Denmark">Denmark</md-option>
    <md-option ng-model='reservation.nationality' value="Djibouti" title="Djibouti">Djibouti</md-option>
    <md-option ng-model='reservation.nationality' value="Dominica" title="Dominica">Dominica</md-option>
    <md-option ng-model='reservation.nationality' value="Dominican Republic" title="Dominican Republic">Dominican Republic</md-option>
    <md-option ng-model='reservation.nationality' value="Ecuador" title="Ecuador">Ecuador</md-option>
    <md-option ng-model='reservation.nationality' value="Egypt" title="Egypt">Egypt</md-option>
    <md-option ng-model='reservation.nationality' value="El Salvador" title="El Salvador">El Salvador</md-option>
    <md-option ng-model='reservation.nationality' value="Equatorial Guinea" title="Equatorial Guinea">Equatorial Guinea</md-option>
    <md-option ng-model='reservation.nationality' value="Eritrea" title="Eritrea">Eritrea</md-option>
    <md-option ng-model='reservation.nationality' value="Estonia" title="Estonia">Estonia</md-option>
    <md-option ng-model='reservation.nationality' value="Ethiopia" title="Ethiopia">Ethiopia</md-option>
    <md-option ng-model='reservation.nationality' value="Falkland Islands (Malvinas)" title="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</md-option>
    <md-option ng-model='reservation.nationality' value="Faroe Islands" title="Faroe Islands">Faroe Islands</md-option>
    <md-option ng-model='reservation.nationality' value="Fiji" title="Fiji">Fiji</md-option>
    <md-option ng-model='reservation.nationality' value="Finland" title="Finland">Finland</md-option>
    <md-option ng-model='reservation.nationality' value="France" title="France">France</md-option>
    <md-option ng-model='reservation.nationality' value="French Guiana" title="French Guiana">French Guiana</md-option>
    <md-option ng-model='reservation.nationality' value="French Polynesia" title="French Polynesia">French Polynesia</md-option>
    <md-option ng-model='reservation.nationality' value="French Southern Territories" title="French Southern Territories">French Southern Territories</md-option>
    <md-option ng-model='reservation.nationality' value="Gabon" title="Gabon">Gabon</md-option>
    <md-option ng-model='reservation.nationality' value="Gambia" title="Gambia">Gambia</md-option>
    <md-option ng-model='reservation.nationality' value="Georgia" title="Georgia">Georgia</md-option>
    <md-option ng-model='reservation.nationality' value="Germany" title="Germany">Germany</md-option>
    <md-option ng-model='reservation.nationality' value="Ghana" title="Ghana">Ghana</md-option>
    <md-option ng-model='reservation.nationality' value="Gibraltar" title="Gibraltar">Gibraltar</md-option>
    <md-option ng-model='reservation.nationality' value="Greece" title="Greece">Greece</md-option>
    <md-option ng-model='reservation.nationality' value="Greenland" title="Greenland">Greenland</md-option>
    <md-option ng-model='reservation.nationality' value="Grenada" title="Grenada">Grenada</md-option>
    <md-option ng-model='reservation.nationality' value="Guadeloupe" title="Guadeloupe">Guadeloupe</md-option>
    <md-option ng-model='reservation.nationality' value="Guam" title="Guam">Guam</md-option>
    <md-option ng-model='reservation.nationality' value="Guatemala" title="Guatemala">Guatemala</md-option>
    <md-option ng-model='reservation.nationality' value="Guernsey" title="Guernsey">Guernsey</md-option>
    <md-option ng-model='reservation.nationality' value="Guinea" title="Guinea">Guinea</md-option>
    <md-option ng-model='reservation.nationality' value="Guinea-Bissau" title="Guinea-Bissau">Guinea-Bissau</md-option>
    <md-option ng-model='reservation.nationality' value="Guyana" title="Guyana">Guyana</md-option>
    <md-option ng-model='reservation.nationality' value="Haiti" title="Haiti">Haiti</md-option>
    <md-option ng-model='reservation.nationality' value="Heard Island and McDonald Islands" title="Heard Island and McDonald Islands">Heard Island and McDonald Islands</md-option>
    <md-option ng-model='reservation.nationality' value="Holy See (Vatican City State)" title="Holy See (Vatican City State)">Holy See (Vatican City State)</md-option>
    <md-option ng-model='reservation.nationality' value="Honduras" title="Honduras">Honduras</md-option>


    <md-option ng-model='reservation.nationality' value="Hong Kong" title="Hong Kong">Hong Kong</md-option>
    <md-option ng-model='reservation.nationality' value="Hungary" title="Hungary">Hungary</md-option>
    <md-option ng-model='reservation.nationality' value="Iceland" title="Iceland">Iceland</md-option>
    <md-option ng-model='reservation.nationality' value="India" title="India">India</md-option>
    <md-option ng-model='reservation.nationality' value="Indonesia" title="Indonesia">Indonesia</md-option>
    <md-option ng-model='reservation.nationality' value="Iran, Islamic Republic of" title="Iran, Islamic Republic of">Iran, Islamic Republic of</md-option>
    <md-option ng-model='reservation.nationality' value="Iraq" title="Iraq">Iraq</md-option>
    <md-option ng-model='reservation.nationality' value="Ireland" title="Ireland">Ireland</md-option>
    <md-option ng-model='reservation.nationality' value="Isle of Man" title="Isle of Man">Isle of Man</md-option>
    <md-option ng-model='reservation.nationality' value="Israel" title="Israel">Israel</md-option>
    <md-option ng-model='reservation.nationality' value="Italy" title="Italy">Italy</md-option>
    <md-option ng-model='reservation.nationality' value="Jamaica" title="Jamaica">Jamaica</md-option>
    <md-option ng-model='reservation.nationality' value="Japan" title="Japan">Japan</md-option>
    <md-option ng-model='reservation.nationality' value="Jersey" title="Jersey">Jersey</md-option>
    <md-option ng-model='reservation.nationality' value="Jordan" title="Jordan">Jordan</md-option>
    <md-option ng-model='reservation.nationality' value="Kazakhstan" title="Kazakhstan">Kazakhstan</md-option>
    <md-option ng-model='reservation.nationality' value="Kenya" title="Kenya">Kenya</md-option>
    <md-option ng-model='reservation.nationality' value="Kiribati" title="Kiribati">Kiribati</md-option>
    <md-option ng-model='reservation.nationality' value="Korea, Democratic People's Republic of" title="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</md-option>
    <md-option ng-model='reservation.nationality' value="Korea, Republic of" title="Korea, Republic of">Korea, Republic of</md-option>
    <md-option ng-model='reservation.nationality' value="Kuwait" title="Kuwait">Kuwait</md-option>
    <md-option ng-model='reservation.nationality' value="Kyrgyzstan" title="Kyrgyzstan">Kyrgyzstan</md-option>
    <md-option ng-model='reservation.nationality' value="Lao People's Democratic Republic" title="Lao People's Democratic Republic">Lao People's Democratic Republic</md-option>
    <md-option ng-model='reservation.nationality' value="Latvia" title="Latvia">Latvia</md-option>
    <md-option ng-model='reservation.nationality' value="Lebanon" title="Lebanon">Lebanon</md-option>
    <md-option ng-model='reservation.nationality' value="Lesotho" title="Lesotho">Lesotho</md-option>
    <md-option ng-model='reservation.nationality' value="Liberia" title="Liberia">Liberia</md-option>
    <md-option ng-model='reservation.nationality' value="Libya" title="Libya">Libya</md-option>
    <md-option ng-model='reservation.nationality' value="Liechtenstein" title="Liechtenstein">Liechtenstein</md-option>
    <md-option ng-model='reservation.nationality' value="Lithuania" title="Lithuania">Lithuania</md-option>
    <md-option ng-model='reservation.nationality' value="Luxembourg" title="Luxembourg">Luxembourg</md-option>
    <md-option ng-model='reservation.nationality' value="Macao" title="Macao">Macao</md-option>
    <md-option ng-model='reservation.nationality' value="Macedonia, the former Yugoslav Republic of" title="Macedonia, the former Yugoslav Republic of">Macedonia, the former Yugoslav Republic of</md-option>
    <md-option ng-model='reservation.nationality' value="Madagascar" title="Madagascar">Madagascar</md-option>
    <md-option ng-model='reservation.nationality' value="Malawi" title="Malawi">Malawi</md-option>
    <md-option ng-model='reservation.nationality' value="Malaysia" title="Malaysia">Malaysia</md-option>
    <md-option ng-model='reservation.nationality' value="Maldives" title="Maldives">Maldives</md-option>
    <md-option ng-model='reservation.nationality' value="Mali" title="Mali">Mali</md-option>
    <md-option ng-model='reservation.nationality' value="Malta" title="Malta">Malta</md-option>
    <md-option ng-model='reservation.nationality' value="Marshall Islands" title="Marshall Islands">Marshall Islands</md-option>
    <md-option ng-model='reservation.nationality' value="Martinique" title="Martinique">Martinique</md-option>
    <md-option ng-model='reservation.nationality' value="Mauritania" title="Mauritania">Mauritania</md-option>
    <md-option ng-model='reservation.nationality' value="Mauritius" title="Mauritius">Mauritius</md-option>
    <md-option ng-model='reservation.nationality' value="Mayotte" title="Mayotte">Mayotte</md-option>
    <md-option ng-model='reservation.nationality' value="Mexico" title="Mexico">Mexico</md-option>
    <md-option ng-model='reservation.nationality' value="Micronesia, Federated States of" title="Micronesia, Federated States of">Micronesia, Federated States of</md-option>
    <md-option ng-model='reservation.nationality' value="Moldova, Republic of" title="Moldova, Republic of">Moldova, Republic of</md-option>
    <md-option ng-model='reservation.nationality' value="Monaco" title="Monaco">Monaco</md-option>
    <md-option ng-model='reservation.nationality' value="Mongolia" title="Mongolia">Mongolia</md-option>
    <md-option ng-model='reservation.nationality' value="Montenegro" title="Montenegro">Montenegro</md-option>
    <md-option ng-model='reservation.nationality' value="Montserrat" title="Montserrat">Montserrat</md-option>
    <md-option ng-model='reservation.nationality' value="Morocco" title="Morocco">Morocco</md-option>
    <md-option ng-model='reservation.nationality' value="Mozambique" title="Mozambique">Mozambique</md-option>
    <md-option ng-model='reservation.nationality' value="Myanmar" title="Myanmar">Myanmar</md-option>
    <md-option ng-model='reservation.nationality' value="Namibia" title="Namibia">Namibia</md-option>
    <md-option ng-model='reservation.nationality' value="Nauru" title="Nauru">Nauru</md-option>
    <md-option ng-model='reservation.nationality' value="Nepal" title="Nepal">Nepal</md-option>
    <md-option ng-model='reservation.nationality' value="Netherlands" title="Netherlands">Netherlands</md-option>
    <md-option ng-model='reservation.nationality' value="New Caledonia" title="New Caledonia">New Caledonia</md-option>
    <md-option ng-model='reservation.nationality' value="New Zealand" title="New Zealand">New Zealand</md-option>
    <md-option ng-model='reservation.nationality' value="Nicaragua" title="Nicaragua">Nicaragua</md-option>
    <md-option ng-model='reservation.nationality' value="Niger" title="Niger">Niger</md-option>
    <md-option ng-model='reservation.nationality' value="Nigeria" title="Nigeria">Nigeria</md-option>
    <md-option ng-model='reservation.nationality' value="Niue" title="Niue">Niue</md-option>
    <md-option ng-model='reservation.nationality' value="Norfolk Island" title="Norfolk Island">Norfolk Island</md-option>
    <md-option ng-model='reservation.nationality' value="Northern Mariana Islands" title="Northern Mariana Islands">Northern Mariana Islands</md-option>
    <md-option ng-model='reservation.nationality' value="Norway" title="Norway">Norway</md-option>
    <md-option ng-model='reservation.nationality' value="Oman" title="Oman">Oman</md-option>
    <md-option ng-model='reservation.nationality' value="Pakistan" title="Pakistan">Pakistan</md-option>
    <md-option ng-model='reservation.nationality' value="Palau" title="Palau">Palau</md-option>
    <md-option ng-model='reservation.nationality' value="Palestinian Territory, Occupied" title="Palestinian Territory, Occupied">Palestinian Territory, Occupied</md-option>
    <md-option ng-model='reservation.nationality' value="Panama" title="Panama">Panama</md-option>
    <md-option ng-model='reservation.nationality' value="Papua New Guinea" title="Papua New Guinea">Papua New Guinea</md-option>
    <md-option ng-model='reservation.nationality' value="Paraguay" title="Paraguay">Paraguay</md-option>
    <md-option ng-model='reservation.nationality' value="Peru" title="Peru">Peru</md-option>
    <md-option ng-model='reservation.nationality' value="Philippines" title="Philippines">Philippines</md-option>
    <md-option ng-model='reservation.nationality' value="Pitcairn" title="Pitcairn">Pitcairn</md-option>
    <md-option ng-model='reservation.nationality' value="Poland" title="Poland">Poland</md-option>
    <md-option ng-model='reservation.nationality' value="Portugal" title="Portugal">Portugal</md-option>
    <md-option ng-model='reservation.nationality' value="Puerto Rico" title="Puerto Rico">Puerto Rico</md-option>
    <md-option ng-model='reservation.nationality' value="Qatar" title="Qatar">Qatar</md-option>
    <md-option ng-model='reservation.nationality' value="Réunion" title="Réunion">Réunion</md-option>
    <md-option ng-model='reservation.nationality' value="Romania" title="Romania">Romania</md-option>
    <md-option ng-model='reservation.nationality' value="Russian Federation" title="Russian Federation">Russian Federation</md-option>
    <md-option ng-model='reservation.nationality' value="Rwanda" title="Rwanda">Rwanda</md-option>
    <md-option ng-model='reservation.nationality' value="Saint Barthélemy" title="Saint Barthélemy">Saint Barthélemy</md-option>
    <md-option ng-model='reservation.nationality' value="Saint Helena, Ascension and Tristan da Cunha" title="Saint Helena, Ascension and Tristan da Cunha">Saint Helena, Ascension and Tristan da Cunha</md-option>
    <md-option ng-model='reservation.nationality' value="Saint Kitts and Nevis" title="Saint Kitts and Nevis">Saint Kitts and Nevis</md-option>
    <md-option ng-model='reservation.nationality' value="Saint Lucia" title="Saint Lucia">Saint Lucia</md-option>
    <md-option ng-model='reservation.nationality' value="Saint Martin (French part)" title="Saint Martin (French part)">Saint Martin (French part)</md-option>
    <md-option ng-model='reservation.nationality' value="Saint Pierre and Miquelon" title="Saint Pierre and Miquelon">Saint Pierre and Miquelon</md-option>
    <md-option ng-model='reservation.nationality' value="Saint Vincent and the Grenadines" title="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</md-option>
    <md-option ng-model='reservation.nationality' value="Samoa" title="Samoa">Samoa</md-option>
    <md-option ng-model='reservation.nationality' value="San Marino" title="San Marino">San Marino</md-option>
    <md-option ng-model='reservation.nationality' value="Sao Tome and Principe" title="Sao Tome and Principe">Sao Tome and Principe</md-option>
    <md-option ng-model='reservation.nationality' value="Saudi Arabia" title="Saudi Arabia">Saudi Arabia</md-option>
    <md-option ng-model='reservation.nationality' value="Senegal" title="Senegal">Senegal</md-option>
    <md-option ng-model='reservation.nationality' value="Serbia" title="Serbia">Serbia</md-option>
    <md-option ng-model='reservation.nationality' value="Seychelles" title="Seychelles">Seychelles</md-option>
    <md-option ng-model='reservation.nationality' value="Sierra Leone" title="Sierra Leone">Sierra Leone</md-option>
    <md-option ng-model='reservation.nationality' value="Singapore" title="Singapore">Singapore</md-option>
    <md-option ng-model='reservation.nationality' value="Sint Maarten (Dutch part)" title="Sint Maarten (Dutch part)">Sint Maarten (Dutch part)</md-option>
    <md-option ng-model='reservation.nationality' value="Slovakia" title="Slovakia">Slovakia</md-option>
    <md-option ng-model='reservation.nationality' value="Slovenia" title="Slovenia">Slovenia</md-option>
    <md-option ng-model='reservation.nationality' value="Solomon Islands" title="Solomon Islands">Solomon Islands</md-option>
    <md-option ng-model='reservation.nationality' value="Somalia" title="Somalia">Somalia</md-option>
    <md-option ng-model='reservation.nationality' value="South Africa" title="South Africa">South Africa</md-option>
    <md-option ng-model='reservation.nationality' value="South Georgia and the South Sandwich Islands" title="South Georgia and the South Sandwich Islands">South Georgia and the South Sandwich Islands</md-option>
    <md-option ng-model='reservation.nationality' value="South Sudan" title="South Sudan">South Sudan</md-option>
    <md-option ng-model='reservation.nationality' value="Spain" title="Spain">Spain</md-option>
    <md-option ng-model='reservation.nationality' value="Sri Lanka" title="Sri Lanka">Sri Lanka</md-option>
    <md-option ng-model='reservation.nationality' value="Sudan" title="Sudan">Sudan</md-option>
    <md-option ng-model='reservation.nationality' value="Suriname" title="Suriname">Suriname</md-option>
    <md-option ng-model='reservation.nationality' value="Svalbard and Jan Mayen" title="Svalbard and Jan Mayen">Svalbard and Jan Mayen</md-option>
    <md-option ng-model='reservation.nationality' value="Swaziland" title="Swaziland">Swaziland</md-option>
    <md-option ng-model='reservation.nationality' value="Sweden" title="Sweden">Sweden</md-option>
    <md-option ng-model='reservation.nationality' value="Switzerland" title="Switzerland">Switzerland</md-option>
    <md-option ng-model='reservation.nationality' value="Syrian Arab Republic" title="Syrian Arab Republic">Syrian Arab Republic</md-option>
    <md-option ng-model='reservation.nationality' value="Taiwan, Province of China" title="Taiwan, Province of China">Taiwan, Province of China</md-option>
    <md-option ng-model='reservation.nationality' value="Tajikistan" title="Tajikistan">Tajikistan</md-option>
    <md-option ng-model='reservation.nationality' value="Tanzania, United Republic of" title="Tanzania, United Republic of">Tanzania, United Republic of</md-option>
    <md-option ng-model='reservation.nationality' value="Thailand" title="Thailand">Thailand</md-option>
    <md-option ng-model='reservation.nationality' value="Timor-Leste" title="Timor-Leste">Timor-Leste</md-option>
    <md-option ng-model='reservation.nationality' value="Togo" title="Togo">Togo</md-option>
    <md-option ng-model='reservation.nationality' value="Tokelau" title="Tokelau">Tokelau</md-option>
    <md-option ng-model='reservation.nationality' value="Tonga" title="Tonga">Tonga</md-option>
    <md-option ng-model='reservation.nationality' value="Trinidad and Tobago" title="Trinidad and Tobago">Trinidad and Tobago</md-option>
    <md-option ng-model='reservation.nationality' value="Tunisia" title="Tunisia">Tunisia</md-option>
    <md-option ng-model='reservation.nationality' value="Turkey" title="Turkey">Turkey</md-option>
    <md-option ng-model='reservation.nationality' value="Turkmenistan" title="Turkmenistan">Turkmenistan</md-option>
    <md-option ng-model='reservation.nationality' value="Turks and Caicos Islands" title="Turks and Caicos Islands">Turks and Caicos Islands</md-option>
    <md-option ng-model='reservation.nationality' value="Tuvalu" title="Tuvalu">Tuvalu</md-option>
    <md-option ng-model='reservation.nationality' value="Uganda" title="Uganda">Uganda</md-option>
    <md-option ng-model='reservation.nationality' value="Ukraine" title="Ukraine">Ukraine</md-option>
    <md-option ng-model='reservation.nationality' value="United Arab Emirates" title="United Arab Emirates">United Arab Emirates</md-option>
    <md-option ng-model='reservation.nationality' value="United Kingdom" title="United Kingdom">United Kingdom</md-option>
    <md-option ng-model='reservation.nationality' value="United States" title="United States">United States</md-option>
    <md-option ng-model='reservation.nationality' value="United States Minor Outlying Islands" title="United States Minor Outlying Islands">United States Minor Outlying Islands</md-option>
    <md-option ng-model='reservation.nationality' value="Uruguay" title="Uruguay">Uruguay</md-option>
    <md-option ng-model='reservation.nationality' value="Uzbekistan" title="Uzbekistan">Uzbekistan</md-option>
    <md-option ng-model='reservation.nationality' value="Vanuatu" title="Vanuatu">Vanuatu</md-option>
    <md-option ng-model='reservation.nationality' value="Venezuela, Bolivarian Republic of" title="Venezuela, Bolivarian Republic of">Venezuela, Bolivarian Republic of</md-option>
    <md-option ng-model='reservation.nationality' value="Viet Nam" title="Viet Nam">Viet Nam</md-option>
    <md-option ng-model='reservation.nationality' value="Virgin Islands, British" title="Virgin Islands, British">Virgin Islands, British</md-option>
    <md-option ng-model='reservation.nationality' value="Virgin Islands, U.S." title="Virgin Islands, U.S.">Virgin Islands, U.S.</md-option>
    <md-option ng-model='reservation.nationality' value="Wallis and Futuna" title="Wallis and Futuna">Wallis and Futuna</md-option>
    <md-option ng-model='reservation.nationality' value="Western Sahara" title="Western Sahara">Western Sahara</md-option>
    <md-option ng-model='reservation.nationality' value="Yemen" title="Yemen">Yemen</md-option>
    <md-option ng-model='reservation.nationality' value="Zambia" title="Zambia">Zambia</md-option>
    <md-option ng-model='reservation.nationality' value="Zimbabwe" title="Zimbabwe">Zimbabwe</md-option>
</md-select>
