<select style='width: 73%; color:black;' ng-model='reservation.country' ng-required='true'>
    <option ng-model='reservation.country' value="? String: "></option>
    <option ng-model='reservation.country' value="Afghanistan" title="Afghanistan">Afghanistan</option>
    <option ng-model='reservation.country' value="Albania" title="Albania">Albania</option>
    <option ng-model='reservation.country' value="Algeria" title="Algeria">Algeria</option>
    <option ng-model='reservation.country' value="American Samoa" title="American Samoa">American Samoa</option>
    <option ng-model='reservation.country' value="Andorra" title="Andorra">Andorra</option>
    <option ng-model='reservation.country' value="Angola" title="Angola">Angola</option>
    <option ng-model='reservation.country' value="Anguilla" title="Anguilla">Anguilla</option>
    <option ng-model='reservation.country' value="Antarctica" title="Antarctica">Antarctica</option>
    <option ng-model='reservation.country' value="Antigua and Barbuda" title="Antigua and Barbuda">Antigua and Barbuda</option>
    <option ng-model='reservation.country' value="Argentina" title="Argentina">Argentina</option>
    <option ng-model='reservation.country' value="Armenia" title="Armenia">Armenia</option>
    <option ng-model='reservation.country' value="Aruba" title="Aruba">Aruba</option>
    <option ng-model='reservation.country' value="Australia" title="Australia">Australia</option>
    <option ng-model='reservation.country' value="Austria" title="Austria">Austria</option>
    <option ng-model='reservation.country' value="Azerbaijan" title="Azerbaijan">Azerbaijan</option>
    <option ng-model='reservation.country' value="Bahamas" title="Bahamas">Bahamas</option>
    <option ng-model='reservation.country' value="Bahrain" title="Bahrain">Bahrain</option>
    <option ng-model='reservation.country' value="Bangladesh" title="Bangladesh">Bangladesh</option>
    <option ng-model='reservation.country' value="Barbados" title="Barbados">Barbados</option>
    <option ng-model='reservation.country' value="Belarus" title="Belarus">Belarus</option>
    <option ng-model='reservation.country' value="Belgium" title="Belgium">Belgium</option>
    <option ng-model='reservation.country' value="Belize" title="Belize">Belize</option>
    <option ng-model='reservation.country' value="Benin" title="Benin">Benin</option>
    <option ng-model='reservation.country' value="Bermuda" title="Bermuda">Bermuda</option>
    <option ng-model='reservation.country' value="Bhutan" title="Bhutan">Bhutan</option>
    <option ng-model='reservation.country' value="Bolivia, Plurinational State of" title="Bolivia, Plurinational State of">Bolivia, Plurinational State of</option>
    <option ng-model='reservation.country' value="Bonaire, Sint Eustatius and Saba" title="Bonaire, Sint Eustatius and Saba">Bonaire, Sint Eustatius and Saba</option>
    <option ng-model='reservation.country' value="Bosnia and Herzegovina" title="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
    <option ng-model='reservation.country' value="Botswana" title="Botswana">Botswana</option>
    <option ng-model='reservation.country' value="Bouvet Island" title="Bouvet Island">Bouvet Island</option>
    <option ng-model='reservation.country' value="Brazil" title="Brazil">Brazil</option>
    <option ng-model='reservation.country' value="British Indian Ocean Territory" title="British Indian Ocean Territory">British Indian Ocean Territory</option>
    <option ng-model='reservation.country' value="Brunei Darussalam" title="Brunei Darussalam">Brunei Darussalam</option>
    <option ng-model='reservation.country' value="Bulgaria" title="Bulgaria">Bulgaria</option>
    <option ng-model='reservation.country' value="Burkina Faso" title="Burkina Faso">Burkina Faso</option>
    <option ng-model='reservation.country' value="Burundi" title="Burundi">Burundi</option>
    <option ng-model='reservation.country' value="Cambodia" title="Cambodia">Cambodia</option>
    <option ng-model='reservation.country' value="Cameroon" title="Cameroon">Cameroon</option>
    <option ng-model='reservation.country' value="Canada" title="Canada">Canada</option>
    <option ng-model='reservation.country' value="Cape Verde" title="Cape Verde">Cape Verde</option>
    <option ng-model='reservation.country' value="Cayman Islands" title="Cayman Islands">Cayman Islands</option>
    <option ng-model='reservation.country' value="Central African Republic" title="Central African Republic">Central African Republic</option>
    <option ng-model='reservation.country' value="Chad" title="Chad">Chad</option>
    <option ng-model='reservation.country' value="Chile" title="Chile">Chile</option>
    <option ng-model='reservation.country' value="China" title="China">China</option>
    <option ng-model='reservation.country' value="Christmas Island" title="Christmas Island">Christmas Island</option>
    <option ng-model='reservation.country' value="Cocos (Keeling) Islands" title="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
    <option ng-model='reservation.country' value="Colombia" title="Colombia">Colombia</option>
    <option ng-model='reservation.country' value="Comoros" title="Comoros">Comoros</option>
    <option ng-model='reservation.country' value="Congo" title="Congo">Congo</option>
    <option ng-model='reservation.country' value="Congo, the Democratic Republic of the" title="Congo, the Democratic Republic of the">Congo, the Democratic Republic of the</option>
    <option ng-model='reservation.country' value="Cook Islands" title="Cook Islands">Cook Islands</option>
    <option ng-model='reservation.country' value="Costa Rica" title="Costa Rica">Costa Rica</option>
    <option ng-model='reservation.country' value="Côte d'Ivoire " title="Côte d 'Ivoire">Côte d'Ivoire</option>
    <option ng-model='reservation.country' value="Croatia" title="Croatia">Croatia</option>
    <option ng-model='reservation.country' value="Cuba" title="Cuba">Cuba</option>
    <option ng-model='reservation.country' value="Curaçao" title="Curaçao">Curaçao</option>
    <option ng-model='reservation.country' value="Cyprus" title="Cyprus">Cyprus</option>
    <option ng-model='reservation.country' value="Czech Republic" title="Czech Republic">Czech Republic</option>
    <option ng-model='reservation.country' value="Denmark" title="Denmark">Denmark</option>
    <option ng-model='reservation.country' value="Djibouti" title="Djibouti">Djibouti</option>
    <option ng-model='reservation.country' value="Dominica" title="Dominica">Dominica</option>
    <option ng-model='reservation.country' value="Dominican Republic" title="Dominican Republic">Dominican Republic</option>
    <option ng-model='reservation.country' value="Ecuador" title="Ecuador">Ecuador</option>
    <option ng-model='reservation.country' value="Egypt" title="Egypt">Egypt</option>
    <option ng-model='reservation.country' value="El Salvador" title="El Salvador">El Salvador</option>
    <option ng-model='reservation.country' value="Equatorial Guinea" title="Equatorial Guinea">Equatorial Guinea</option>
    <option ng-model='reservation.country' value="Eritrea" title="Eritrea">Eritrea</option>
    <option ng-model='reservation.country' value="Estonia" title="Estonia">Estonia</option>
    <option ng-model='reservation.country' value="Ethiopia" title="Ethiopia">Ethiopia</option>
    <option ng-model='reservation.country' value="Falkland Islands (Malvinas)" title="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
    <option ng-model='reservation.country' value="Faroe Islands" title="Faroe Islands">Faroe Islands</option>
    <option ng-model='reservation.country' value="Fiji" title="Fiji">Fiji</option>
    <option ng-model='reservation.country' value="Finland" title="Finland">Finland</option>
    <option ng-model='reservation.country' value="France" title="France">France</option>
    <option ng-model='reservation.country' value="French Guiana" title="French Guiana">French Guiana</option>
    <option ng-model='reservation.country' value="French Polynesia" title="French Polynesia">French Polynesia</option>
    <option ng-model='reservation.country' value="French Southern Territories" title="French Southern Territories">French Southern Territories</option>
    <option ng-model='reservation.country' value="Gabon" title="Gabon">Gabon</option>
    <option ng-model='reservation.country' value="Gambia" title="Gambia">Gambia</option>
    <option ng-model='reservation.country' value="Georgia" title="Georgia">Georgia</option>
    <option ng-model='reservation.country' value="Germany" title="Germany">Germany</option>
    <option ng-model='reservation.country' value="Ghana" title="Ghana">Ghana</option>
    <option ng-model='reservation.country' value="Gibraltar" title="Gibraltar">Gibraltar</option>
    <option ng-model='reservation.country' value="Greece" title="Greece">Greece</option>
    <option ng-model='reservation.country' value="Greenland" title="Greenland">Greenland</option>
    <option ng-model='reservation.country' value="Grenada" title="Grenada">Grenada</option>
    <option ng-model='reservation.country' value="Guadeloupe" title="Guadeloupe">Guadeloupe</option>
    <option ng-model='reservation.country' value="Guam" title="Guam">Guam</option>
    <option ng-model='reservation.country' value="Guatemala" title="Guatemala">Guatemala</option>
    <option ng-model='reservation.country' value="Guernsey" title="Guernsey">Guernsey</option>
    <option ng-model='reservation.country' value="Guinea" title="Guinea">Guinea</option>
    <option ng-model='reservation.country' value="Guinea-Bissau" title="Guinea-Bissau">Guinea-Bissau</option>
    <option ng-model='reservation.country' value="Guyana" title="Guyana">Guyana</option>
    <option ng-model='reservation.country' value="Haiti" title="Haiti">Haiti</option>
    <option ng-model='reservation.country' value="Heard Island and McDonald Islands" title="Heard Island and McDonald Islands">Heard Island and McDonald Islands</option>
    <option ng-model='reservation.country' value="Holy See (Vatican City State)" title="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
    <option ng-model='reservation.country' value="Honduras" title="Honduras">Honduras</option>


    <option ng-model='reservation.country' value="Hong Kong" title="Hong Kong">Hong Kong</option>
    <option ng-model='reservation.country' value="Hungary" title="Hungary">Hungary</option>
    <option ng-model='reservation.country' value="Iceland" title="Iceland">Iceland</option>
    <option ng-model='reservation.country' value="India" title="India">India</option>
    <option ng-model='reservation.country' value="Indonesia" title="Indonesia">Indonesia</option>
    <option ng-model='reservation.country' value="Iran, Islamic Republic of" title="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
    <option ng-model='reservation.country' value="Iraq" title="Iraq">Iraq</option>
    <option ng-model='reservation.country' value="Ireland" title="Ireland">Ireland</option>
    <option ng-model='reservation.country' value="Isle of Man" title="Isle of Man">Isle of Man</option>
    <option ng-model='reservation.country' value="Israel" title="Israel">Israel</option>
    <option ng-model='reservation.country' value="Italy" title="Italy">Italy</option>
    <option ng-model='reservation.country' value="Jamaica" title="Jamaica">Jamaica</option>
    <option ng-model='reservation.country' value="Japan" title="Japan">Japan</option>
    <option ng-model='reservation.country' value="Jersey" title="Jersey">Jersey</option>
    <option ng-model='reservation.country' value="Jordan" title="Jordan">Jordan</option>
    <option ng-model='reservation.country' value="Kazakhstan" title="Kazakhstan">Kazakhstan</option>
    <option ng-model='reservation.country' value="Kenya" title="Kenya">Kenya</option>
    <option ng-model='reservation.country' value="Kiribati" title="Kiribati">Kiribati</option>
    <option ng-model='reservation.country' value="Korea, Democratic People's Republic of" title="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
    <option ng-model='reservation.country' value="Korea, Republic of" title="Korea, Republic of">Korea, Republic of</option>
    <option ng-model='reservation.country' value="Kuwait" title="Kuwait">Kuwait</option>
    <option ng-model='reservation.country' value="Kyrgyzstan" title="Kyrgyzstan">Kyrgyzstan</option>
    <option ng-model='reservation.country' value="Lao People's Democratic Republic" title="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
    <option ng-model='reservation.country' value="Latvia" title="Latvia">Latvia</option>
    <option ng-model='reservation.country' value="Lebanon" title="Lebanon">Lebanon</option>
    <option ng-model='reservation.country' value="Lesotho" title="Lesotho">Lesotho</option>
    <option ng-model='reservation.country' value="Liberia" title="Liberia">Liberia</option>
    <option ng-model='reservation.country' value="Libya" title="Libya">Libya</option>
    <option ng-model='reservation.country' value="Liechtenstein" title="Liechtenstein">Liechtenstein</option>
    <option ng-model='reservation.country' value="Lithuania" title="Lithuania">Lithuania</option>
    <option ng-model='reservation.country' value="Luxembourg" title="Luxembourg">Luxembourg</option>
    <option ng-model='reservation.country' value="Macao" title="Macao">Macao</option>
    <option ng-model='reservation.country' value="Macedonia, the former Yugoslav Republic of" title="Macedonia, the former Yugoslav Republic of">Macedonia, the former Yugoslav Republic of</option>
    <option ng-model='reservation.country' value="Madagascar" title="Madagascar">Madagascar</option>
    <option ng-model='reservation.country' value="Malawi" title="Malawi">Malawi</option>
    <option ng-model='reservation.country' value="Malaysia" title="Malaysia">Malaysia</option>
    <option ng-model='reservation.country' value="Maldives" title="Maldives">Maldives</option>
    <option ng-model='reservation.country' value="Mali" title="Mali">Mali</option>
    <option ng-model='reservation.country' value="Malta" title="Malta">Malta</option>
    <option ng-model='reservation.country' value="Marshall Islands" title="Marshall Islands">Marshall Islands</option>
    <option ng-model='reservation.country' value="Martinique" title="Martinique">Martinique</option>
    <option ng-model='reservation.country' value="Mauritania" title="Mauritania">Mauritania</option>
    <option ng-model='reservation.country' value="Mauritius" title="Mauritius">Mauritius</option>
    <option ng-model='reservation.country' value="Mayotte" title="Mayotte">Mayotte</option>
    <option ng-model='reservation.country' value="Mexico" title="Mexico">Mexico</option>
    <option ng-model='reservation.country' value="Micronesia, Federated States of" title="Micronesia, Federated States of">Micronesia, Federated States of</option>
    <option ng-model='reservation.country' value="Moldova, Republic of" title="Moldova, Republic of">Moldova, Republic of</option>
    <option ng-model='reservation.country' value="Monaco" title="Monaco">Monaco</option>
    <option ng-model='reservation.country' value="Mongolia" title="Mongolia">Mongolia</option>
    <option ng-model='reservation.country' value="Montenegro" title="Montenegro">Montenegro</option>
    <option ng-model='reservation.country' value="Montserrat" title="Montserrat">Montserrat</option>
    <option ng-model='reservation.country' value="Morocco" title="Morocco">Morocco</option>
    <option ng-model='reservation.country' value="Mozambique" title="Mozambique">Mozambique</option>
    <option ng-model='reservation.country' value="Myanmar" title="Myanmar">Myanmar</option>
    <option ng-model='reservation.country' value="Namibia" title="Namibia">Namibia</option>
    <option ng-model='reservation.country' value="Nauru" title="Nauru">Nauru</option>
    <option ng-model='reservation.country' value="Nepal" title="Nepal">Nepal</option>
    <option ng-model='reservation.country' value="Netherlands" title="Netherlands">Netherlands</option>
    <option ng-model='reservation.country' value="New Caledonia" title="New Caledonia">New Caledonia</option>
    <option ng-model='reservation.country' value="New Zealand" title="New Zealand">New Zealand</option>
    <option ng-model='reservation.country' value="Nicaragua" title="Nicaragua">Nicaragua</option>
    <option ng-model='reservation.country' value="Niger" title="Niger">Niger</option>
    <option ng-model='reservation.country' value="Nigeria" title="Nigeria">Nigeria</option>
    <option ng-model='reservation.country' value="Niue" title="Niue">Niue</option>
    <option ng-model='reservation.country' value="Norfolk Island" title="Norfolk Island">Norfolk Island</option>
    <option ng-model='reservation.country' value="Northern Mariana Islands" title="Northern Mariana Islands">Northern Mariana Islands</option>
    <option ng-model='reservation.country' value="Norway" title="Norway">Norway</option>
    <option ng-model='reservation.country' value="Oman" title="Oman">Oman</option>
    <option ng-model='reservation.country' value="Pakistan" title="Pakistan">Pakistan</option>
    <option ng-model='reservation.country' value="Palau" title="Palau">Palau</option>
    <option ng-model='reservation.country' value="Palestinian Territory, Occupied" title="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
    <option ng-model='reservation.country' value="Panama" title="Panama">Panama</option>
    <option ng-model='reservation.country' value="Papua New Guinea" title="Papua New Guinea">Papua New Guinea</option>
    <option ng-model='reservation.country' value="Paraguay" title="Paraguay">Paraguay</option>
    <option ng-model='reservation.country' value="Peru" title="Peru">Peru</option>
    <option ng-model='reservation.country' value="Philippines" title="Philippines">Philippines</option>
    <option ng-model='reservation.country' value="Pitcairn" title="Pitcairn">Pitcairn</option>
    <option ng-model='reservation.country' value="Poland" title="Poland">Poland</option>
    <option ng-model='reservation.country' value="Portugal" title="Portugal">Portugal</option>
    <option ng-model='reservation.country' value="Puerto Rico" title="Puerto Rico">Puerto Rico</option>
    <option ng-model='reservation.country' value="Qatar" title="Qatar">Qatar</option>
    <option ng-model='reservation.country' value="Réunion" title="Réunion">Réunion</option>
    <option ng-model='reservation.country' value="Romania" title="Romania">Romania</option>
    <option ng-model='reservation.country' value="Russian Federation" title="Russian Federation">Russian Federation</option>
    <option ng-model='reservation.country' value="Rwanda" title="Rwanda">Rwanda</option>
    <option ng-model='reservation.country' value="Saint Barthélemy" title="Saint Barthélemy">Saint Barthélemy</option>
    <option ng-model='reservation.country' value="Saint Helena, Ascension and Tristan da Cunha" title="Saint Helena, Ascension and Tristan da Cunha">Saint Helena, Ascension and Tristan da Cunha</option>
    <option ng-model='reservation.country' value="Saint Kitts and Nevis" title="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
    <option ng-model='reservation.country' value="Saint Lucia" title="Saint Lucia">Saint Lucia</option>
    <option ng-model='reservation.country' value="Saint Martin (French part)" title="Saint Martin (French part)">Saint Martin (French part)</option>
    <option ng-model='reservation.country' value="Saint Pierre and Miquelon" title="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
    <option ng-model='reservation.country' value="Saint Vincent and the Grenadines" title="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
    <option ng-model='reservation.country' value="Samoa" title="Samoa">Samoa</option>
    <option ng-model='reservation.country' value="San Marino" title="San Marino">San Marino</option>
    <option ng-model='reservation.country' value="Sao Tome and Principe" title="Sao Tome and Principe">Sao Tome and Principe</option>
    <option ng-model='reservation.country' value="Saudi Arabia" title="Saudi Arabia">Saudi Arabia</option>
    <option ng-model='reservation.country' value="Senegal" title="Senegal">Senegal</option>
    <option ng-model='reservation.country' value="Serbia" title="Serbia">Serbia</option>
    <option ng-model='reservation.country' value="Seychelles" title="Seychelles">Seychelles</option>
    <option ng-model='reservation.country' value="Sierra Leone" title="Sierra Leone">Sierra Leone</option>
    <option ng-model='reservation.country' value="Singapore" title="Singapore">Singapore</option>
    <option ng-model='reservation.country' value="Sint Maarten (Dutch part)" title="Sint Maarten (Dutch part)">Sint Maarten (Dutch part)</option>
    <option ng-model='reservation.country' value="Slovakia" title="Slovakia">Slovakia</option>
    <option ng-model='reservation.country' value="Slovenia" title="Slovenia">Slovenia</option>
    <option ng-model='reservation.country' value="Solomon Islands" title="Solomon Islands">Solomon Islands</option>
    <option ng-model='reservation.country' value="Somalia" title="Somalia">Somalia</option>
    <option ng-model='reservation.country' value="South Africa" title="South Africa">South Africa</option>
    <option ng-model='reservation.country' value="South Georgia and the South Sandwich Islands" title="South Georgia and the South Sandwich Islands">South Georgia and the South Sandwich Islands</option>
    <option ng-model='reservation.country' value="South Sudan" title="South Sudan">South Sudan</option>
    <option ng-model='reservation.country' value="Spain" title="Spain">Spain</option>
    <option ng-model='reservation.country' value="Sri Lanka" title="Sri Lanka">Sri Lanka</option>
    <option ng-model='reservation.country' value="Sudan" title="Sudan">Sudan</option>
    <option ng-model='reservation.country' value="Suriname" title="Suriname">Suriname</option>
    <option ng-model='reservation.country' value="Svalbard and Jan Mayen" title="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
    <option ng-model='reservation.country' value="Swaziland" title="Swaziland">Swaziland</option>
    <option ng-model='reservation.country' value="Sweden" title="Sweden">Sweden</option>
    <option ng-model='reservation.country' value="Switzerland" title="Switzerland">Switzerland</option>
    <option ng-model='reservation.country' value="Syrian Arab Republic" title="Syrian Arab Republic">Syrian Arab Republic</option>
    <option ng-model='reservation.country' value="Taiwan, Province of China" title="Taiwan, Province of China">Taiwan, Province of China</option>
    <option ng-model='reservation.country' value="Tajikistan" title="Tajikistan">Tajikistan</option>
    <option ng-model='reservation.country' value="Tanzania, United Republic of" title="Tanzania, United Republic of">Tanzania, United Republic of</option>
    <option ng-model='reservation.country' value="Thailand" title="Thailand">Thailand</option>
    <option ng-model='reservation.country' value="Timor-Leste" title="Timor-Leste">Timor-Leste</option>
    <option ng-model='reservation.country' value="Togo" title="Togo">Togo</option>
    <option ng-model='reservation.country' value="Tokelau" title="Tokelau">Tokelau</option>
    <option ng-model='reservation.country' value="Tonga" title="Tonga">Tonga</option>
    <option ng-model='reservation.country' value="Trinidad and Tobago" title="Trinidad and Tobago">Trinidad and Tobago</option>
    <option ng-model='reservation.country' value="Tunisia" title="Tunisia">Tunisia</option>
    <option ng-model='reservation.country' value="Turkey" title="Turkey">Turkey</option>
    <option ng-model='reservation.country' value="Turkmenistan" title="Turkmenistan">Turkmenistan</option>
    <option ng-model='reservation.country' value="Turks and Caicos Islands" title="Turks and Caicos Islands">Turks and Caicos Islands</option>
    <option ng-model='reservation.country' value="Tuvalu" title="Tuvalu">Tuvalu</option>
    <option ng-model='reservation.country' value="Uganda" title="Uganda">Uganda</option>
    <option ng-model='reservation.country' value="Ukraine" title="Ukraine">Ukraine</option>
    <option ng-model='reservation.country' value="United Arab Emirates" title="United Arab Emirates">United Arab Emirates</option>
    <option ng-model='reservation.country' value="United Kingdom" title="United Kingdom">United Kingdom</option>
    <option ng-model='reservation.country' value="United States" title="United States">United States</option>
    <option ng-model='reservation.country' value="United States Minor Outlying Islands" title="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
    <option ng-model='reservation.country' value="Uruguay" title="Uruguay">Uruguay</option>
    <option ng-model='reservation.country' value="Uzbekistan" title="Uzbekistan">Uzbekistan</option>
    <option ng-model='reservation.country' value="Vanuatu" title="Vanuatu">Vanuatu</option>
    <option ng-model='reservation.country' value="Venezuela, Bolivarian Republic of" title="Venezuela, Bolivarian Republic of">Venezuela, Bolivarian Republic of</option>
    <option ng-model='reservation.country' value="Viet Nam" title="Viet Nam">Viet Nam</option>
    <option ng-model='reservation.country' value="Virgin Islands, British" title="Virgin Islands, British">Virgin Islands, British</option>
    <option ng-model='reservation.country' value="Virgin Islands, U.S." title="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
    <option ng-model='reservation.country' value="Wallis and Futuna" title="Wallis and Futuna">Wallis and Futuna</option>
    <option ng-model='reservation.country' value="Western Sahara" title="Western Sahara">Western Sahara</option>
    <option ng-model='reservation.country' value="Yemen" title="Yemen">Yemen</option>
    <option ng-model='reservation.country' value="Zambia" title="Zambia">Zambia</option>
    <option ng-model='reservation.country' value="Zimbabwe" title="Zimbabwe">Zimbabwe</option>
</select>
