<ion-view view-title="Landing Page">
  <ion-content class="padding">
    <h2>Fly Like Iberia</h2>
    <!-- <input name="originAirports" id="originAirports"  type="text"  placeholder="Flying From" ng-model="selectedOrigin" ng-required='true' uib-typeahead="airport.name for airport in Airports | filter:$viewValue | limitTo:10" class="form-control" , typeahead-on-select="SetOriginAirport($item.iata)"  required > -->
    <label class="item item-input item-floating-label" ng-class="{ 'has-error' : loginForm.txtemail.$invalid && loginForm.$submitted }">
            <span class="input-label">From</span>
            <input name="originAirports" id="originAirports" type="text" ng-model="user.email" placeholder="From" ng-model="selectedOrigin" uib-typeahead="airport.name for airport in Airports | filter:$viewValue | limitTo:10" class="form-control" , typeahead-on-select="SetOriginAirport($item.iata)"
            required>
          </label>
          <!-- Edit this messages if you want -->
          <div class="form-errors" ng-messages="loginForm.originAirports.$error" ng-if="loginForm.$submitted">
            <div class="form-error" ng-message="required">This field is required.</div>
          </div>


  </ion-content>
</ion-view>
