<ion-view title="About Us">

  <ion-content class="has-header has-subheader">


    <h2 style="text-align:center;color:rgba(128,0,0, 1)">About Us</h2>
asdsda
  </ion-content>


  <ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- Dashboard Tab -->
    <ion-tab title="Home" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/">
      <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>

    <!-- Chats Tab -->
    <ion-tab title="Offers" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/offers">
      <ion-nav-view name="tab-chats"></ion-nav-view>
    </ion-tab>

    <!-- Account Tab -->
    <ion-tab title="About Us" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/AboutUs">
      <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>

  </ion-tabs>

</ion-view>
