
<ion-view title="Congratulations!">
  <!-- <link rel="stylesheet" href="../css/style.css" /> -->


      <ion-content style="background-color:maroon">

        <div id="logo">
            <br><br><br>
          <center>
            <!-- <h4 style='color:white'>Congratulations</h4> -->
            <center><h4 Style = 'color:white;family-font:"Lucida Sans Unicode"'>You booked with</h4>
              <br>
                  <img src="/img/iberia-logo.png">
            </center>
          </center>
        </div>


      </ion-content>

</ion-view>
