<ion-view title="Congratulations!">
  <ion-content style="background-color:maroon">
    <div id="logo">
      <br>
      <br>
      <center>
          <h4 Style='color:white;family-font:"Lucida Sans Unicode"'>You booked with</h4>
          <br>
          <img src="/img/iberia-logo.png">
    </ion-item>
    <br>
    <br>
    <font size='4' Style='color:white;family-font:"Lucida Sans Unicode" ;'>Your booking reference is:</font><br></br>
    <textarea class="js-copytextarea" readonly style="padding-left: 35%;height: 8%; color:white;background-color: maroon">{{bookingRefNo}}</textarea><br>
      <button class="button button-outline button-positive" style="border: 1px solid #000;
  background:maroon" ng-click='copy();'>
        <font style="color:white">Copy my booking reference</font>
      </button>
      <br>
      <label style='color:white'>{{feedback}}</label>
    </center>
    <br>
    <center>
      <button class="button icon-left ion-home" style="border: 1px solid #000; background:maroon" ng-click='landing();'><font style="color:white">Go back to home page</font></button>
    </center>
  </ion-content>
</ion-view>
