<script>

</script>
<style>
listdemoListControls {
  /* Add some right padding so that the text doesn't overlap the buttons */ }
  .listdemoListControls md-divider {
    margin-top: 10px;
    margin-bottom: 10px; }
  .listdemoListControls md-list-item > p,
  .listdemoListControls md-list-item > .md-list-item-inner > p,
  .listdemoListControls md-list-item .md-list-item-inner > p,
  .listdemoListControls md-list-item .md-list-item-inner > .md-list-item-inner > p {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */ }
  .listdemoListControls .secondary-button-padding p {
    padding-right: 100px; }
</style>
<ion-view title="Flights">

  <ion-content class="has-header has-subheader">
    <div class="col-md-10 col-md-offset-1 text-center">
        <h3><font color="black" size="10" style="
    border-top: 1px solid;
    border-bottom: 1px solid;
    display: inline-block;
    margin-top: 0;
    padding: 8px 0;text-align: center;">Flights </font><br><br></h3>
    </div>

    <div ng-show="outFlightFound" >
    <h1 class="animated fadeInDown header-font">Select your flights</h1>
    <div id='outgoing'>
        <div class="animated slideInLeft">
            <h3><img src='../assets/outgoingPlane.png'>Outbound:From {{origin}} to {{dest}}
              <small></br>{{oDate | date}}</small></h3>

        </div>

        <md-list ng-cloak>  <md-subheader class="md-no-sticky">Outgoing flights</md-subheader>
          <md-list-item ng-repeat="group in groups">
            <ion-item class="item-stable"
                      ng-click="toggleGroup(group)"
                      ng-class="{active: isGroupShown(group)}">
                <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
              &nbsp;
              Group {{group.name}}
            </ion-item>
            <ion-item class="item-accordion"
                      ng-repeat="item in group.items"
                      ng-show="isGroupShown(group)">
              {{item}}
            </ion-item>
          </md-list-item>
        </md-list-item>


    <!-- <md-list ng-cloak>
      <md-subheader class="md-no-sticky">Outgoing flights</md-subheader>
      <md-list-item ng-repeat="topping in toppings">
        <p> {{ topping.name }} </p>
          <p> {{ topping.name }} </p>

        <md-checkbox class="md-secondary" ng-model="$parent.wanted" ng-value= "{{topping.wanted}}"></md-checkbox>
      </md-list-item>

    </md-list>
{{wanted}}asdas -->

    <!-- <ion-list>
            <ion-item type="item-text-wrap" class="item-avatar"
                      href="#">
                <img src="/pics/John_Williams.jpg"/>
                {{flight.origin}} - {{flight.destination}}
                <p>LH 549 09:45 AM - 05:15 PM</p>
            </ion-item>
        </ion-list> -->
  </ion-content>

</ion-view>
