<script>
</script>
<style>
  listdemoListControls {
    /* Add some right padding so that the text doesn't overlap the buttons */
  }

  .listdemoListControls md-divider {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .listdemoListControls md-list-item > p,
  .listdemoListControls md-list-item > .md-list-item-inner > p,
  .listdemoListControls md-list-item .md-list-item-inner > p,
  .listdemoListControls md-list-item .md-list-item-inner > .md-list-item-inner > p {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
  }

  .listdemoListControls .secondary-button-padding p {
    padding-right: 100px;
  }

  .selected {
    color: white;
    background-color: rgba(128,0,0,1);
    /*box-shadow: inset 0px 0px 0px 25px #b0b0b0;*/
  }

  `
</style>
<ion-view title="Flights">

  <ion-content class="has-header has-subheader">
    <div class="col-md-10 col-md-offset-1 text-center">
      <h3><font color="black" size="8" style="
    border-top: 1px solid;
    border-bottom: 1px solid;
    display: inline-block;
    margin-top: 0;
    padding: 8px 0;text-align: center;">Flights </font><br><br></h3>
    </div>

    <center>
      <h4 class="animated fadeInDown header-font">Select your flights</h4></center>
    <div class="animated slideInLeft">
      <h5><img src='../assets/outgoingPlane.png'>Outbound:From {{origin}} to {{dest}}
              <small></br>{{oDate | date}}</small></h5>
    </div>
    <md-list ng-cloak>
      <md-subheader class="md-no-sticky">Outgoing flights</md-subheader>
      <div ng-repeat="flight in outgoingInfo">
        <md-list-item id="OutList" class="item-stable" ng-click="toggleGroup(flight)" ng-class="{active: isGroupShown(flight), selected: isSelected(flight)}" />
        <i class="icon" ng-class="isGroupShown(flight) ? 'ion-minus' : 'ion-plus'"></i> &nbsp; Flight: {{flight.flightNumber}} By: ({{flight.Airline}})
        </md-list-item>
        <md-list-item class="item-accordion" ng-show="isGroupShown(flight)">Departure Time: {{stringToDate(flight.departureDateTime) | date : 'shortTime'}} </md-list-item>
        <md-list-item class="item-accordion" ng-show="isGroupShown(flight)">Arrival Time: {{stringToDate(flight.arrivalDateTime) | date : 'shortTime'}} </md-list-item>
        <md-list-item class="item-accordion" ng-show="isGroupShown(flight)">Duration: {{timediff(flight.departureDateTime,flight.arrivalDateTime)}} </md-list-item>
        <md-list-item class="item-accordion" ng-show="isGroupShown(flight)">Cost: {{flight.cost | currency: "$"}} </md-list-item>
        <md-list-item class="item-accordion" ng-show="isGroupShown(flight)" id="OutgoingList">
          <md-radio-group ng-model="$parent.selectedOutgoingFlight" style="color:rgba(128,0,0,1) ">
            <md-radio-button ng-value="{{flight}}" class="md-primary" ng-click="SetSelectedOutgoingFlight(flight); toggleGroup(flight)">Select this flight</md-radio-button>
          </md-radio-group>
        </md-list-item>
      </div>
    </md-list>

    <div ng-show="roundTrip === 'true'">
      <div id='return' class="animated slideInRight">
        <h5><img src='../assets/returnPlane.png'>Return: From {{dest}} to {{origin}}<small></br>{{rDate |date}}</small></h5>
      </div>
      <md-list ng-cloak>
        <md-subheader class="md-no-sticky">Return flights</md-subheader>
        <div ng-repeat="flight in returnInfo">
          <md-list-item id="OutList" class="item-stable" ng-click="toggleGroup(flight)" ng-class="{active: isGroupShown(flight), selected: isSelected(flight)}" />
          <i class="icon" ng-class="isGroupShown(flight) ? 'ion-minus' : 'ion-plus'"></i> &nbsp; Flight: {{flight.flightNumber}} By: ({{flight.Airline}})
          </md-list-item>
          <md-list-item class="item-accordion" ng-show="isGroupShown(flight)">Departure Time: {{stringToDate(flight.departureDateTime) | date : 'shortTime'}} </md-list-item>
          <md-list-item class="item-accordion" ng-show="isGroupShown(flight)">Arrival Time: {{stringToDate(flight.arrivalDateTime) | date : 'shortTime'}} </md-list-item>
          <md-list-item class="item-accordion" ng-show="isGroupShown(flight)">Duration: {{timediff(flight.departureDateTime,flight.arrivalDateTime)}} </md-list-item>
          <md-list-item class="item-accordion" ng-show="isGroupShown(flight)">Cost: {{flight.cost | currency: "$"}} </md-list-item>
          <md-list-item class="item-accordion" ng-show="isGroupShown(flight)" id="OutgoingList">
            <md-radio-group ng-model="$parent.selectedReturnFlight">
              <md-radio-button ng-value="{{flight}}" class="md-primary" ng-click="SetSelectedReturnFlight(flight); toggleGroup(flight)">Select this flight</md-radio-button>
            </md-radio-group>
          </md-list-item>
        </div>
      </md-list>
    </div>
    <div id='price'>
      <blockquote>
        <p>Price:</p>
        <h5>{{(selectedReturnFlight.cost + selectedOutgoingFlight.cost) | currency:"$"}}</h5>
        <span ng-show="RadioSelected" style="color: red">Flight(s) must be selected</span>
      </blockquote>
      <center><a class="button button-outline button-assertive" ng-click='BookFlight()'>Book Flight</a></center>
    </div>
  </ion-content>

</ion-view>
