<ion-view view-title="Landing">
  <ion-content class="has-header has-subheader">




    <h4 style="text-align:center;color:rgba(128,0,0, 1)">Book Flight</h4>

    <!-- <input name="originAirports" id="originAirports"  type="text"  placeholder="Flying From" ng-model="selectedOrigin" ng-required='true' uib-typeahead="airport.name for airport in Airports | filter:$viewValue | limitTo:10" class="form-control" , typeahead-on-select="SetOriginAirport($item.iata)"  required > -->

    <div class="list list-inset">
      <!-- <label class="item item-input item-stacked-label">
                <span class="input-label">Flying From:</span>
                <input type="text" placeholder="CAI" ng-model="originAirport">
           </label> -->

      <!-- <form id="loginForm"> -->

      <form name="flights">

          <!-- <input ng-required='true' name="originAirports" id="originAirports" type="text" placeholder="Flying From" ng-model="selectedOrigin"> -->
          <div layout="column" ng-cloak="" class="autocompletedemoBasicUsage">


            <md-content class="md-padding">
              <form ng-submit="$event.preventDefault()">

                <span class="ion-plane"><md-autocomplete md-selected-item="selectedItem" md-floating-label="Flying From"  md-search-text="searchText" md-items="item in querySearch(searchText)" md-item-text="item.display" md-min-length="0" placeholder="Flying From" ng-model="selectedOrigin"></span>
                  <!-- <label class="item item-input item-floating-label"> -->

                  <md-item-template>
                    <span ng-required='true' name="originAirports" id="originAirports" md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span>
                  </md-item-template>
                  <md-not-found>
                    No states matching "{{searchText}}" were found.
                  </md-not-found>
                </md-autocomplete>
                <br>

            </md-content>
          </div>
        </label>
        <span style='color:red' ng-show="(flights.originAirports.$error.required) ">Origin Airport required</span>


        <!--
                 <div class="form-errors" ng-messages="loginForm.originAirports.$error" ng-if="loginForm.$submitted">
                   <div class="form-error" ng-message="required">This field is required.</div>
                 </div> -->

        <label class="item item-input item-floating-label">
          <span class="input-label ion-plane">Flying To</span>
          <input ng-required='true' name="destinationAirports" id="destinationAirports" type="text" placeholder="Flying To" ng-model="selectedDestination">
        </label>
        <span style='color:red' ng-show="(flights.destinationAirports.$error.required) ">Destination Airport required</span>

        <!-- <div class="form-errors" ng-messages="loginForm.destinationAirports.$error" ng-if="loginForm.$submitted">
                         <div class="form-error" ng-message="required">This field is required.</div>
                       </div> -->

        <ion-list>
          <h5 style="text-align:center;color:rgba(128,0,0, 1)">Select a type of flight</h5>
          <ion-radio ng-click="data.showDelete = true" ng-model="roundTrip" value="false">One Way</ion-radio>
          <ion-radio ng-click="data.showDelete = false" ng-model="roundTrip" value="true">Round Trip</ion-radio>
        </ion-list>

        <div ng-show="!data.showDelete">
          <ion-list>
            <h5 style="text-align:center;color:rgba(128,0,0, 1)">Outgoing date</h5>
            <!-- <onezone-datepicker ng-model="dto" datepicker-object="onezoneDatepicker" >
                         <button class="button button-block button-outline button-assertive show-onezone-datepicker" >
                           {{onezoneDatepicker.date | date:'dd MMMM yyyy'}}
                         </button>
                       </onezone-datepicker> -->
            <md-datepicker ng-required='true' ng-model="$parent.dto" md-min-date="minDate" name="outgoing" md-placeholder="Enter date"></md-datepicker>
            <span style='color:red' ng-show="(flights.outgoing.$error.required) ">Outgoing Date required</span>
          </ion-list>
          <ion-list>
            <h5 style="text-align:center;color:rgba(128,0,0, 1)">Return date</h5>
            <!-- <onezone-datepicker datepicker-object="onezoneDatepicker2" >
                      <button ng-model="dtr" class="button button-block button-outline button-assertive show-onezone-datepicker" >
                        {{onezoneDatepicker2.date | date:'dd MMMM yyyy'}}
                      </button>
                    </onezone-datepicker> -->
            <md-datepicker ng-required='true' name='return' ng-model="$parent.dtr" md-min-date="$parent.dto" md-placeholder="Enter date" required></md-datepicker>
            <span style='color:red' ng-show="(flights.return.$error.required) ">Return Date required</span>
          </ion-list>
        </div>
        <div ng-show="data.showDelete">
          <ion-list>
            <h4 style="text-align:center;color:rgba(128,0,0, 1)">Outgoing date</h4>
            <!-- <onezone-datepicker datepicker-object="onezoneDatepicker"  > -->
            <md-datepicker ng-required='true' name='outgoing0' md-min-date="minDate" ng-model="$parent.dto" md-placeholder="Enter date"></md-datepicker>
            <!-- <button class="button button-block button-outline button-assertive show-onezone-datepicker" ng-model="dto" ng-value="{{onezoneDatepicker.date}}">
                          {{onezoneDatepicker.date | date:'dd MMMM yyyy'}}
                        </button>
                      </onezone-datepicker> -->
            <span style='color:red' ng-show="(flights.outgoing0.$error.required) ">Outgoing Date required</span>
          </ion-list>
        </div>

      </form>
    </div>
    <div class="list list-inset">
      <form id="loginForm">
        <ion-list>
          <h4 style="text-align:center;color:rgba(128,0,0, 1)">Select a cabin</h4>
          <ion-radio ng-click="data.showCabin = false" ng-model="cabin" value="true">Economy</ion-radio>
          <ion-radio ng-click="data.showCabin = true" ng-model="cabin" value="false">Business</ion-radio>
        </ion-list>
      </form>
    </div>
    <div class="list list-inset">
      <form id="loginForm">


        <ion-list>
          <md-checkbox style="color:black" ng-model="pinging" aria-label="Ping Other Airlines" value="true">Ping Other Arlines</md-checkbox>
          <!-- <input ng-model="pinging" type="checkbox" value="true" /> -->
        </ion-list>

      </form>
    </div>






    <!-- <label class="item item-input item-stacked-label">
      <!-- <label class="item item-input item-stacked-label">

                <span class="input-label">Flying To:</span>
                <input type="text" placeholder="FRA" ng-model="destinationAirport">
           </label> -->


  <center>  <button  class="button button-outline button-assertive" ng-click="SetOriginAirport(selectedOrigin); SetDestinationAirport(selectedDestination);SetOutDate(dto);SetReturnDate(dtr); SetRoundTrip(roundTrip); SetCabin(cabin); SetPinging(pinging); SearchFlights()">Search Flights</button></center>
    <br>
    <br>

  </ion-content>



</ion-view>
