<ion-view title="Offers">
  <ion-content class="has-header has-subheader">
    <h2 style="text-align:center;color:rgba(128,0,0, 1)">Offers</h2>
    <div class="list card">

      <div class="item item-avatar">
        <img src="img/iberia-logo2.jpg">
        <h2>Cairo To Madrid: History meets
      <br>Modernization</h2>
        <p>May 2, 2016</p>
      </div>
      <div class="item item-body">
        <img class="full-image" src="img/cairo-to-madrid.jpg">
        <p>
          Trips from Cairo to Madrid all day on May 15, 2016 would have a 50% promotion.
        </p>
      </div>
    </div>

    <div class="list card">
      <div class="item item-avatar">
        <img src="img/iberia-logo2.jpg">
        <h2>Jeddah To Cairo: The collision of <br>Arabs</h2>
        <p>May 20, 2016</p>
      </div>
      <div class="item item-body">
        <img class="full-image" src="img/cairo-to-jeddah.png">
        <p>
          Trips from Jeddah to Cairo all day on May 20, 2016 would have a 25% promotion.
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
