<ion-view title="Payment">

  <ion-content class="has-header has-subheader">

   <div>
       <h3><font color="black">Payment Data</font></h3>
   </div>

   <form class="contact-form support-form" name="reviewForm" novalidate=""> 
 
<div class="list">
 <label class="item item-input item-select">
    <div class="input-label">
      Type of Card<font color="red">*</font>
    </div>
    <select name="MonthC" ng-model="selectedType" ng-required='true' style='color:black'>
    <option value=""disabled selected>Card Type</option> 
     <option style='color:black' value="Personal Visa Card (no charge)" ng-model="selectedType">Personal Visa Card (no charge)</option> 
      <option style='color:black' value="Visa Corporate Card (+6.64 €)" ng-model="selectedType">Visa Corporate Card (+6.64 €)</option> 
      <option style='color:black' value="Personal MasterCard (no charge)" ng-model="selectedType">Personal MasterCard (no charge)</option> 
      <option style='color:black' value="MasterCard Corporate (+6.64 €)" ng-model="selectedType">MasterCard Corporate (+6.64 €)</option> 
      <option style='color:black' value="Personal American Express (no charge)" ng-model="selectedType">Personal American Express (no charge)</option> 
      <option style='color:black' value="American Express Corporate (+6.64 €)" ng-model="selectedType">American Express Corporate (+6.64 €)</option> 
      <option style='color:black' value="Diners Club (+6.64 €)" ng-model="selectedType">Diners Club (+6.64 €)</option> <option style='color:black' value="UATP/Airplus (+6.64 €)" ng-model="selectedType">UATP/Airplus (+6.64 €)</option> 
      <option style='color:black' value="Carte Blanche (+6.64 €)" ng-model="selectedType">Carte Blanche (+6.64 €)</option> 

     
    </select>
  </label>
<label class="item item-input item-stacked-label">
    <span class="input-label">Card Number<font color="red">*</font></span>
    <input type="tel" class="form-control" name="cardNo" ng-model="selectedCardNumber" ng-required='true' ng-minlength='16' ng-maxlength='16'>
    <span style='color:red' ng-show='(reviewForm.cardNo.$error.number || reviewForm.cardNo.$error.required) && reviewForm.cardNo.$dirty'>Valid card number is required</span> 
 <span style='color:red' ng-show='(reviewForm.cardNo.$error.minlength || reviewForm.cardNo.$error.maxlength) && reviewForm.cardNo.$dirty'>Card number must be 16 digits</span>
  </label>
   <label class="item item-input item-stacked-label">
    <span class="input-label">Security code<font color="red">*</font></span>
    <input type="text" name="CVV" ng-model="selectedCVV" ng-required='true' ng-minlength='3' ng-maxlength='3'>
    <span style='color:red' ng-show='(reviewForm.CVV.$error.number || reviewForm.CVV.$error.required) && reviewForm.CVV.$dirty'>Valid security code is required</span>
     <span style='color:red' ng-show='(reviewForm.CVV.$error.minlength || reviewForm.CVV.$error.maxlength) && reviewForm.CVV.$dirty'>Security code must be 3 digits or letters</span>
  </label>
   <label class="item item-input item-stacked-label">
    <span class="input-label">Street<font color="red">*</font></span>
    <input type="text" name="Street"ng-model="selectedStreet" ng-required='true'>
     <span style='color:red' ng-show='reviewForm.Street.$error.required && reviewForm.Street.$dirty'>Street is required</span>
  </label>
   <label class="item item-input item-stacked-label">
    <span class="input-label">Postal code<font color="red">*</font></span>
    <input type="text" name="postalCode" placeholder="55555" ng-model="selectedPostalcode" ng-required='true' ng-minlength='5' ng-maxlength='5'>
    <span style='color:red' ng-show='(reviewForm.postalCode.$error.number || reviewForm.postalCode.$error.required) && reviewForm.postalCode.$dirty'>A valid postal code is required.</span>
    <span style='color:red' ng-show='(reviewForm.postalCode.$error.minlength || reviewForm.postalCode.$error.maxlength)&& reviewForm.postalCode.$dirty'>Postal Code must be 5 characters.</span>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">City<font color="red">*</font></span>
    <input type="text" class="form-control" name="city" ng-model="SelectedCity" ng-required='true'>
     <span style='color:red' ng-show='reviewForm.city.$error.required && reviewForm.city.$dirty'>City is required</span>
  </label>


</div>
</form>

 </ion-view>