<ion-view>
  <ion-content style="background-color:rgba(128,0,0, 1)">
    <br><br><br>
<h2 style="text-align:center;color:rgba(128,0,0, 0.8)"><div>
  <img src="/img/iberia-logo.png">
</div></h2>

  <ion-list >
  <button class="button button-light button-full button-clear no-animation"
          ng-click="bookingFlight()" >
    Book Your Flight
  </button>
  <button class="button button-light button-full button-clear no-animation"
          ng-click="bookingPrev()" >
    Your previous bookings
  </button>
  <button class="button button-light button-full button-clear no-animation"
          ng-click="promotions()" >
    Our promotions
  </button>
</ion-list>
</ion-content>
</ion-view>
