<ion-view>
  <ion-content class="has-header has-subheader">
  <button class="button button-assertive button-full button-clear no-animation"
          ng-click="bookingFlight()" ng-show="!slideIndex">
    Book Your Flight
  </button>
  <button class="button button-assertive button-full button-clear no-animation"
          ng-click="bookingPrev()" ng-show="!slideIndex">
    Your previous bookings
  </button>
  <button class="button button-assertive button-full button-clear no-animation"
          ng-click="promotions()" ng-show="!slideIndex">
    Our promotions
  </button>
</ion-content>
</ion-view>
