<ion-view view-title="{{chat.name}}">
  <ion-content class="padding" style='background-color:rgba(128,0,0, 1)'>
    <img ng-src="{{chat.face}}" style="width: 100px; height: 100px">

    <br><br>
    <font size=5 class="ion-ios-monitor-outline">
      {{chat.lastText}}
    </font><br><br>
    <font size=5 class="ion-woman">
      {{chat.gender}}
    </font><br><br>
    <font size=5 class="ion-social-facebook">
      {{chat.facebook}}
    </font><br><br>
    <font size=5 class="ion-social-instagram-outline">
      {{chat.instagram}}
    </font><br><br>
    <font size=5 class="ion-ios-telephone">
      {{chat.phone}}
    </font><br><br>
    <font size=5 class="ion-android-desktop"> Technologies:</font><br>
    <font size=5 class="ion-social-javascript"></font>
    <font size=5 class="ion-social-angular"></font>
    <font size=5 class="ion-social-css3"></font>
    <font size=5 class="ion-social-html5"></font>
    <font size=5 class="ion-social-nodejs"></font><br><br>
    <font size=5 class="ion-ios-book"> Status</font><br>
    <h5> {{chat.status}} </h5><br>
    <img src="{{chat.flip}}" style="width: 175px; height: 150px"><br>
    <h6 style="text-align:left" >
      <a href="#" class="subdued ion-thumbsup" >{{chat.num}} Like</a>
      <a href="#" class="subdued ion-ios-chatbubble">{{chat.num}} Comments</a>
    </h6><br><br>
  </ion-content>
</ion-view>
