
<!-- <div id='nav-bar'>
	<a href='./'>	
	<div id='logo'>
		<img src='../assets/iberia-logo.png'>	
	</div>
	<a>
</div>
 -->
<div class="progress">
  	 <!-- <p align="right">1.Search &nbsp&nbsp 2.Book &nbsp&nbsp <b>3.Confirmation</b> &nbsp&nbsp 4.Payment</p>  -->

</div>

<div class='content'>
	<h1></h1>
	<div id='Confirmation'>
	<pre style="font-size: 16">From:{{origin}}                                   To:{{dest}}                                     Date:{{oDate}}                                 Duration:</pre>
	<pre style="font-size: 16">Tickets:{{tickets}}                                Price:</pre>
	</div>
</div>
 <div >
	<h2>Contact Details:</h2>
	<pre style="font-size: 16">Phone number: <input type="number" placeholder="e.g.109013840923" ng-model="typePhoneno"></input></pre>
	<pre style="font-size: 16">Email: <input type="string" placeholder="e.g. Hazem.279@gmail.com"   ng-model="typedEmail"></input></pre>
</div>
 <div ng-repeat="n in noOfTickets" class="tickets row" >
      <h3>
      <h2>Passenger Details:</h2>
        <pre style="font-size: 16"> First name: <input type="string" placeholder="e.g. Hazem"   ng-model="typedFname"></input></pre> 
        <pre style="font-size: 16"> Last name: <input type="string" placeholder="e.g. Elessawy"   ng-model="typedLname"></input></pre>
        <pre style="font-size: 16"> Passport: <button class="dropbtn"> <b>USA</b> </button> </pre>
        <pre style="font-size: 16"> Issue date: <input type="date" placeholder="e.g. 17/10/2005"   ng-model="typedIssueDate"></input></pre> 
        <pre style="font-size: 16"> Expiry date: <input type="date" placeholder="e.g. 17/10/2015"   ng-model="typedExpiryDate"></input></pre> 
        <pre style="font-size: 16"> Passport number: <input type="number" ng-model="typedPassportno"></input></pre>  

      </h3>
      
 </div>


<div>
	<button style="background-color: red; color: black;" ng-click="SetFname(typedFname) ; SetLName(typedLname) ; SetIssueDate(typedIssueDate) ; SetExpiryDate(typedExpiryDate); SetPassportNo(typedPassportno) ; SetEmail(typedEmail) ; SetPhoneNo(typedPhoneno) ; goToPayment()"> <b>Continue to payment</b> </button>
</div>
<!-- <input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" id="fn" ng-model="travellers[$index].firstName" placeholder="First Name" required="required" type="text"> -->