<div style="background: rgba(178,34,34, 1)">
     <div class="sticky-section">
        <div id="topbar-hold" class="nav-hold container">
            <nav class="navbar" role="navigation">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href='http://mynksh.com'>
                        <span><img src="./assets/iberia-logo.png"></span>
                    </a>
                </div>
                <!-- Main Navigation menu Starts -->

                <!-- Main Navigation menu ends-->
            </nav>
        </div>
    </div>
</div>

<link rel="stylesheet" href="css/style.css" />

<!-- <div class="container"> -->
    <section id="section-download" class="download-wrap" style="background: rgba(255,255,255, .8)">
        <div class="container download center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-10 col-md-offset-1 center section-title">
                        <h3 style=" color:rgba(0,0,0, 1)">Confirmation</h3>
                    </div>
                    <!-- <div class='content'> -->
                    <!-- <form class="form-horizontal"> -->

                            <div class="mainContainer col-lg-12" >
                                <form class="contact-form support-form">
                                        <div class="form-group">
                                            <font class="col-sm-8 text-left" size="5" color="black"> From:
                <font  size="4" color="grey"> {{selectedOutgoingFlight.origin}}</font></font>

                                        </div>
                                        <div class="form-group">
                                            <font class="col-sm-8 text-left" size="5" color="black"> To:
                <font  size="4" color="grey">  {{selectedOutgoingFlight.destination}}  </font></font>
                                        </div>
                                        <div class="form-group">
                                            <font class="col-sm-8 text-left" size="5" color="black"> Outgoing Date:
                <font  size="4" color="grey">  {{selectedOutgoingFlight.departureTime}} </font></font>
                                        </div>
                                        <div class="form-group" ng-show="roundTrip === 'true'">
                                            <font class="col-sm-8 text-left" size="5" color="black"> Return Date:
                <font  size="4" color="grey">  {{selectedReturnFlight.departureTime}} </font></font>
                                        </div>
                                        <div class="form-group">
                                            <font class="col-sm-8 text-left" size="5" color="black"> Tickets:
                <font  size="4" color="grey"> {{tickets}}</font></font>
                                        </div>
                                        <div class="form-group">
                                            <font class="col-sm-8 text-left" size="5" color="black"> Price:
                <font  size="4" color="grey">  {{price | currency: "€"}}</font></font>
                                        </div>
                                </form>
                            </div>


                            <div class="col-md-10 col-md-offset-1 center section-title">
                            </br>
                            </br>
                                <h4 style=" color:rgba(178,34,34, 1)">Passenger Details</h4>
                              </div>
                                <div class="mainContainer col-lg-12" >
                                    <form class="contact-form support-form">
                                    </br>
                                    <div class="form-group">
                                      <font class="col-sm-8 text-left" size="5" color="grey"><b>Contact Details</b></font>
                                    </div>
                                  </br>
                                    <div class="form-group">
                                        <font class="col-sm-4 text-left" size="4" color="black">Phone number: </font>
                                        <div class="col-md-8 col-sm-8 text-left">
                                          <input class="form-control" style="width:73%" type="text" placeholder="e.g.109013840923" ng-model="typedPhoneno" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <font class="col-sm-4 text-left" size="4" color="black">Email:</font>
                                        <div class="col-md-8 col-sm-8 text-left">
                                            <input class="form-control" style="width:73%" type="email" placeholder="e.g. Hazem.279@gmail.com" ng-model="typedEmail" required>
                                        </div>
                                    </div>
                                    </br>
                                    </br>
                                    <div ng-repeat="n in reservation">
                                      <!-- <form class="contact-form support-form"> -->
                                          <div class="col-lg-12">
                                          </br>
                                          </br>
                                        <div class="form-group">
                                            <font class="col-sm-8 text-left" size="5" color="grey"><b>Passenger {{n.refNo}}
                                            </br>
                                          </br></b></font>
                                        </div>
                                        </br>
                                        </br>
                                        <div class="form-group">
                                            <font class="col-sm-4 text-left" size="4" color="black">First Name:</font>
                                            <div class="col-md-8 col-sm-8 text-left">
                                                <input class="form-control" style="width:73%" type="text" placeholder="e.g. Hazem" ng-model="n.FName">
                                              </div>
                                        </div>
                                        <div class="form-group">
                                            <font class="col-sm-4 text-left" size="4" color="black">Last Name:</font>
                                                <div class="col-md-8 col-sm-8 text-left">
                                                <input class="form-control" style="width:73%" type="text" placeholder="e.g. Elessawy" ng-model="n.LName">
                                              </div>

                                        </div>
                                        <div class="form-group">
                                            <font class="col-sm-4 text-left" size="4" color="black">Passport Number:</font>
                                                <div class="col-md-8 col-sm-8 text-left">
                                                <input class="form-control" style="width:73%" type="text" placeholder="" ng-model="n.passportNo" >
                                              </div>
                                        </div>
                                        <div class="form-group">
                                            <font class="col-sm-4 text-left" size="4" color="black">Country of issue:</font>
                                              <div class="col-md-8 col-sm-8 text-left">
                                                <div ng-include="'./assets/countries.html'"></div>
                                              </div>
                                        </div>
                                        <div class="form-group">
                                            <font class="col-sm-4 text-left" size="4" color="black">Issue Date:</font>
                                              <div class="col-md-8 col-sm-8 text-left">
                                                <input class="form-control" style="width:73%" type="text" placeholder="e.g. 17/4/2016" ng-model="n.issueDate">
                                              </div>
                                        </div>
                                        <div class="form-group">
                                            <font class="col-sm-4 text-left" size="4" color="black">Expiry Date:</font>
                                              <div class="col-md-8 col-sm-8 text-left">
                                                <input class="form-control" style="width:73%" type="text" placeholder="e.g. 17/4/2016" ng-model="n.expiryDate">
                                              </div>
                                        </div>
                                      </div>
                                    <!-- </form> -->
                                    </div>
                                  <!-- </form> -->
                                </div>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-primary btn-lg" style="position:right; background:rgba(178,34,34, 1);margin-top: 15px" action="goToPayment()" value='Proceed to payment'>
                        </form>
                </div>
          </section>


<!-- could need an extra div closing -->
