<div style="background: rgba(128,0,0, 1)">
  <div class="sticky-section">
    <div id="topbar-hold" class="nav-hold container">
      <nav class="navbar" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <a href="#" onclick="location.href = document.referrer; return false;">
          <span><img src='./assets/iberia-logo.png'></span>
        </a>
    </div>
    </nav>
  </div>
</div>
</div>
<link rel="stylesheet" type="text/css" href="../css/congrats.css">
<div id="viewport" style="width: 1000px;">
  <div class="section-overlay"></div>
  <center>
    <div class="mainContainer col-lg-12" style="background-color:rgba(128,0,0,0.8);width:500px;top:300px;left:350px;border-radius: 25px;">
      <br>
      <font size=3 color=white>Booking Reference</font>
      <br> <font size=2 color=grey>(please click on copy textarea for further tracking):</font><br>

      <div ng-if="airline1 ==airline2 && airline1 == 'Iberia'">
        <h4>Your booking is from {{airline1}}, please go back to  <a href="#" onclick="location.href = document.referrer; return false;">home page</a>.</h4>
      <textarea class="js-copytextarea" readonly>{{bookingRefNo1}}</textarea>
      <br>
      <button class="js-textareacopybtn" ng-click='copy();'>Copy Textarea</button>
    </div>

      <div ng-if="airline1 ==airline2 && airline1 != 'Iberia'">
        <h4>Your booking is from {{airline1}}, please go to their website on <button ng-click="getOtherAirlineIP1();">{{airline1}}</button> to track your booking.</h4>
      <textarea class="js-copytextarea" readonly>{{bookingRefNo1}}</textarea>
      <br>
      <button class="js-textareacopybtn" ng-click='copy();'>Copy Textarea</button>
    </div>

    <div ng-if="airline1 !=airline2 && airline1 != 'Iberia' && airline2 != 'Iberia'">
      <h4>Your booking from {{airline1}}, please go to their website on <button ng-click="getOtherAirlineIP1();">{{airline1}}</button> to track your booking.</h4>
    <textarea class="js-copytextarea" readonly>{{bookingRefNo1}}</textarea>
    <br>
    <button class="js-textareacopybtn" ng-click='copy();'>Copy Textarea</button>
    <h4>Your booking from {{airline2}}, please go to their website on <button ng-click="getOtherAirlineIP2();">{{airline2}}</button> to track your booking.</h4>
  <textarea class="js-copytextarea" readonly>{{bookingRefNo2}}</textarea>
  <br>
  <button class="js-textareacopybtn" ng-click='copy();'>Copy Textarea</button>
  </div>

  <div ng-if="airline1 !=airline2 && airline1 == 'Iberia' && airline2 != 'Iberia'">
    <h4>Your booking from {{airline1}}, please go back to  <a href="#" onclick="location.href = document.referrer; return false;">home page</a>.
      </h4>
  <textarea class="js-copytextarea" readonly>{{bookingRefNo1}}</textarea>
  <br>
  <button class="js-textareacopybtn" ng-click='copy();'>Copy Textarea</button>
  <h4>Your booking from {{airline2}}, please go to their website on <button ng-click="getOtherAirlineIP2();">{{airline2}}</button> to track your booking.</h4>
<textarea class="js-copytextarea" readonly>{{bookingRefNo2}}</textarea>
<br>
<button class="js-textareacopybtn" ng-click='copy();'>Copy Textarea</button>
</div>

<div ng-if="airline1 !=airline2 && airline1 != 'Iberia' && airline2 == 'Iberia'">
  <h4>Your booking from {{airline2}}, please go back to  <a href="#" onclick="location.href = document.referrer; return false;">home page</a>.
    </h4>
<textarea class="js-copytextarea" readonly>{{bookingRefNo2}}</textarea>
<br>
<button class="js-textareacopybtn" ng-click='copy();'>Copy Textarea</button>
<h4>Your booking from {{airline1}}, please go to their website on <button ng-click="getOtherAirlineIP1();">{{airline1}}</button> to track your booking.</h4>
<textarea class="js-copytextarea" readonly>{{bookingRefNo1}}</textarea>
<br>
<button class="js-textareacopybtn" ng-click='copy();'>Copy Textarea</button>
</div>

  </div>
  </center>
  <canvas id="sky" width="1217" height="1000">
  </canvas>
  <div class="marquee">
    <a onclick="location.href = document.referrer; return false;">
      <img src="http://i.stack.imgur.com/bGZ1m.png" width="80" height="43" title="Click me to go back to Iberia.">
    </a>
    <div id="banner">Congrats You booked with Iberia Airlines!</div>
  </div>
</div>
