<script>
$(function(){

    $("#typed").typed({
        // strings: ["Typed.js is a <strong>jQuery</strong> plugin.", "It <em>types</em> out sentences.", "And then deletes them.", "Try it out!"],
        stringsElement: $('#typed-strings'),
        typeSpeed: 30,
        backDelay: 500,
        loop: false,
        contentType: 'html', // or text
        // defaults to false for infinite loop
        loopCount: false,
        callback: function(){ foo(); },
        resetCallback: function() { newTyped(); }
    });

    $(".reset").click(function(){
        $("#typed").typed('reset');
    });

});

function newTyped(){ /* A new typed object */ }

function foo(){ console.log("Callback"); }
</script>

<!--==== Js files ====-->
<!--==== Essential files ====-->
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/bootstrapValidator.min.js"></script>
<script type="text/javascript" src="js/modernizr.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>

  <!--==== MailChimp Widget plugin ====-->
<script type="text/javascript" src="js/jquery.ajaxchimp.min.js"></script>

<!--==== Scroll and navigation plugins ====-->
<script type="text/javascript" src="js/jquery.nicescroll.min.js"></script>
<script type="text/javascript" src="js/jquery.nav.js"></script>
<script type="text/javascript" src="js/jquery.appear.js"></script>
<script type="text/javascript" src="js/jquery.fitvids.js"></script>

<!--==== Custom Script files ====-->
<script type="text/javascript" src="js/custom.js"></script>

<!--==== Slider and Card style plugin ====-->
<script type="text/javascript" src="js/jquery.baraja.js"></script>
<script type="text/javascript" src="js/jquery.vegas.min.js"></script>
<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>





<div>
  <!--=== Preloader section starts ===-->
	<!-- <section id="preloader">
		<div class="loading-circle fa-spin"></div>
	</section> -->
	<!--=== Preloader section Ends ===-->
  <!--=== Header section Starts ===-->
	<div id="header" class="header-section">
		<!-- sticky-bar Starts-->
  <div class="sticky-bar-wrap">
        <div class="sticky-section">
          <div id="topbar-hold" class="nav-hold container">
            <nav class="navbar" role="navigation">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--=== Site Name ===-->
                <!-- <a class="site-name navbar-brand" href="#"><span>Iberia</span></a> -->
              </div>

              <!-- Main Navigation menu Starts -->
              <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li class="current"><a href="#header">Home</a></li>
                  <li><a href="#section-feature">Flights</a></li>
                  <li><a href="#section-services">Offers</a></li>
                  <li><a href="#step-1">About Us</a></li>
                  <li><a href="#section-screenshots">Team Members</a></li>
                  <li><a href="#section-pricing">Contact Us</a></li>
                  <li><a href="#section-download">Video</a></li>
                </ul>
              </div>
              <!-- Main Navigation menu ends-->
            </nav>
          </div>
        </div>
      </div>

      <div id="section-home" class="home-section-wrap center">
      			<div class="section-overlay"></div>
      			<div class="container home">
      				<div class="row">
      					<h1 class="well-come">Fly like IBERIA</h1>

      					<div class="col-md-8 col-md-offset-2">
      						<p class="intro-message">We don't care about your money, we care about YOU!</p>

                  <div class="type-wrap">
                        <div id="typed-strings">
                            <p >Hoy, <strong>Iberia</strong> está cambiando</p>
                            <p>Today, <strong>Iberia</strong> is changing</p>
                        </div>
                        <span id="typed" style="white-space:pre;"></span>
                    </div>

      						<!-- <div class="home-buttons">
      							<a href="#" class="fancy-button button-line button-white vertical">
      								Learn more
      								<span class="icon">
      									<i class="fa fa-gear"></i>
      								</span>
      							</a>
      							<a href="#" class="fancy-button button-line button-white zoom">
      								Download now
      								<span class="icon">
      									<i class="fa fa-leaf"></i>
      								</span>
      							</a>
      						</div> -->
      					</div>
      				</div>
      			</div>
      		</div>
      		<!--=== Home Section Ends ===-->
      	</div>


          <form class="form-horizontal">


            <!--=== Contact section Starts ===-->
	<!-- <section id="section-contact" class="contact-wrap">
	<div class="section-overlay"></div>
		<div class="container contact center animated" data-animation="flipInY" data-animation-delay="1000">
			<div class="row"> -->
    <section id="section-download" class="download-wrap">
		<div class="container download center">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="col-md-10 col-md-offset-1 center section-title">
						<h3>Flights</h3>
					</div>

					<div class="confirmation">
						<p><span class="fa fa-check"></span></p>
					</div>

					<form class="contact-form support-form">

						<div class="col-lg-12">
              <div class="form-group">
                <font class="control-label col-sm-2 text-left" size="4" color:"white" > From: </font>
                <div class="col-md-8">
              <input name="originAirports"
                id="originAirports"
                type="text"
                placeholder="Flying From"
                ng-model="selectedOrigin"
                uib-typeahead="airport.iata for airport in Airports | filter:$viewValue | limitTo:10"
                class="form-control",
                typeahead-on-select="SetOriginAirport($item.name)">
              </div>
            </div>
              </br>
              <div class="form-group">
                <font class="control-label col-sm-2 text-left" size="4" > To: </font>
                <div class="col-md-8">
              <input name="destinationAirports"
                  id="destinationAirports"
                  type="text"
                  placeholder="Flying To"
                  ng-model="selectedDestination"
                  uib-typeahead="airport.iata for airport in Airports | filter:$viewValue | limitTo:10"
                  class="form-control",
                  typeahead-on-select="SetDestinationAirport($item.iata)">
                </div>
              </div>
              </br>
              <div class="form-group">
                <font class="control-label col-sm-2 text-left" size="4" > Outgoing: </font>
                <div class="col-md-8">
                  <p class="input-group">
                  <input type="text"
                      class="form-control"
                      uib-datepicker-popup="{{format}}"
                      ng-model="dt"
                      is-open="popup1.opened"
                      ng-required="true"
                      close-text="Close"
                      alt-input-formats="altInputFormats" />
                  <span class="input-group-btn">
                      <button type="button"
                        class="btn btn-default"
                        ng-click="open1()">
                      <i class="glyphicon glyphicon-calendar"></i>
                      </button>
                  </span>
                </p>
              </div>
            </div>
              </br>
              <div class="form-group">
                <font class="control-label col-sm-2 text-left" size="4" > Returning: </font>
                <div class="col-md-8">
                <p class="input-group">
                  <input type="text"
                      class="form-control"
                      uib-datepicker-popup="{{format}}"
                      ng-model="dt"
                      is-open="popup2.opened"
                      ng-required="true"
                      close-text="Close"
                      alt-input-formats="altInputFormats" />
                  <span class="input-group-btn">
                    <button type="button"
                      class="btn btn-default"
                      ng-click="open2()">
                  <i class="glyphicon glyphicon-calendar"></i>
                      </button>
                  </span>
                </p>
              </div>
            </div>
              </br>
              <div class="form-group">
                <font class="control-label col-sm-2 text-left" size="4" > Tickets Count: </font>
                <div class="col-md-8">
                </br>
              <div class="styled">
              <select name="ticketsCount">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>
            </div>
            </div>

            <form>
            <div class="form-group">
              <font class="control-label col-sm-2 text-left" size="4" >One-Way</font>
              <div class="col-md-8 radio">
              </br>
              <input ng-model="roundTrip" type="radio" value="false"/></div>
            </div>
            <div class="form-group">
              <font class="control-label col-sm-2 text-left" size="4" > Round Trip Flight </font>
              <div class="col-md-8 radio">
              </br>
              <input ng-model="roundTrip" type="radio" value="true"/></div>
            </div>
          </form>
						</div>
						<button type="submit" class="fancy-button button-line button-white large zoom subform" id='btnSearch' ng-click='SearchFlights()'>
							Search Flights
              <!-- <a type="button" class="btn btn-clear btn-sm btn-min-block " id='btnSearch' ng-click='SearchFlights()'>Search Flights</a> -->

							<span class="icon">
								<i class="fa fa-paper-plane-o"></i>
							</span>
						</button>

				</div>
			</div>
		</div>
	</section>
</form>
	<!--=== Contact section Ends ===-->

  <!--=== Pricing section Starts ===-->
  <section id="section-testimonials" class="testimonials-wrap">
      <div class="section-overlay"></div>
		<div class="container pricing">
			<div class="row">
        <div class="col-md-10 col-md-offset-1 center section-title">
          <h3>Offers</h3>
        </div>


				<!-- Single Price Starts -->
				<div class="col-md-3 col-sm-6 single-pricing-wrap center animated" data-animation="bounceInLeft" data-animation-delay="700">
					<div class="single-pricing best-pricing"> <!-- this is best-pricing -->

						<div class="pricing-head">
							<h4 class="pricing-heading color-scheme">Offer 1</h4>
							<div class="price">
								<h3>
									<span class="euro">€</span>
									60
								</h3>
							</div>
						</div>

						<ul class="package-features">
							<li><span class="color-scheme fa fa-check"></span>From Cairo to Madrid</li>
              <li><span class="color-scheme fa fa-check"></span>Business class</li>
              <li><span class="color-scheme fa fa-check"></span>Round Trip Flight</li>
						</ul>
						<div class="sign-up">
							<a href="#" class="fancy-button button-line btn-col vertical">
								Book it UP!
								<span class="icon">
									<i class="fa fa-hand-o-up"></i>
								</span>
							</a>
						</div>
					</div>
				</div>
				<!-- Single Price Ends -->

				<!-- Single Price Starts -->

            <div class="col-md-3 col-sm-6 single-pricing-wrap center animated" data-animation="bounceInLeft" data-animation-delay="1100">
            <div class="single-pricing">
						<div class="pricing-head">
							<h4 class="pricing-heading color-scheme">Offer 2</h4>
							<div class="price">
                <h3>
                  <span class="euro">€</span>
                  100
                </h3>
							</div>
						</div>

            <ul class="package-features">
							<li><span class="color-scheme fa fa-check"></span>From United States to Paris</li>
              <li><span class="color-scheme fa fa-check"></span>Economy class</li>
							<li><span class="color-scheme fa fa-check"></span>One Way Flight</li>
						</ul>
						<div class="sign-up">
							<a href="#" class="fancy-button button-line btn-col rotate">
								Book it UP!
								<span class="icon">
									<i class="fa fa-thumbs-o-up"></i>
								</span>
							</a>
						</div>
					</div>
        </div>



				<!-- Single Price Starts -->
				<div class="col-md-3 col-sm-6 single-pricing-wrap center animated" data-animation="bounceInLeft" data-animation-delay="1100">
					<div class="single-pricing">

						<div class="pricing-head">
							<h4 class="pricing-heading color-scheme">Offer 3</h4>
							<div class="price">
                <h3>
                  <span class="euro">€</span>
                  110
                </h3>
							</div>
						</div>

            <ul class="package-features">
							<li><span class="color-scheme fa fa-check"></span>From China to Madrid</li>
              <li><span class="color-scheme fa fa-check"></span>Economy class</li>
              <li><span class="color-scheme fa fa-check"></span>Round Trip Flight</li>
						</ul>
						<div class="sign-up">
							<a href="#" class="fancy-button button-line btn-col zoom">
								Book it UP!
								<span class="icon">
									<i class="fa fa-thumbs-o-up"></i>
								</span>
							</a>
						</div>
				</div>
      </div>
				<!-- Single Price Ends -->


	</section>
	<!--=== Pricing section Ends ===-->



        <!--=== Features section Starts ===-->
	<section id="section-feature" class="feature-wrap">
		<div class="container features center">
			<div class="row">
				<div class="col-lg-12">
						<!--Features container Starts -->
						<ul id="card-ul" class="features-hold baraja-container">

							<!-- Single Feature Starts -->
							<li class="single-feature" title="Card style">
								<img src="images/1.jpg" alt="" class="feature-image" /><!-- Feature Icon -->
								<h4 class="feature-title color-scheme">Narihan Ellaithy</h4>
								<p class="feature-text">
									Front-End Developer
                </p>

									<a href="#" class="fancy-button button-line btn-col small vertical">
										Details
										<span class="icon">
											<i class="fa fa-leaf"></i>
										</span>
									</a>

							</li>
							<!-- Single Feature Ends -->

              <!-- Single Feature Starts -->
							<li class="single-feature" title="50+ SVG Icon included">
								<img src="images/2.jpg" alt="" class="feature-image" /><!-- Feature Icon -->
								<h4 class="feature-title color-scheme">Safa Ads</h4>
								<p class="feature-text">
                  3amalet el Nav Bar HAHA!!
                  </p>
								<a href="#" class="fancy-button button-line btn-col small zoom">
									Details
									<span class="icon">
										<i class="fa fa-leaf"></i>
									</span>
								</a>
							</li>
							<!-- Single Feature Ends -->
              <!-- Single Feature Starts -->
							<li class="single-feature" title="MailChimp Ready">
								<img src="images/3.jpg" alt="" class="feature-image" /><!-- Feature Icon -->
								<h4 class="feature-title color-scheme">Yara Sobhy</h4>
								<p class="feature-text">
                  Scrum MASTER!!
                </p>
								<a href="#" class="fancy-button button-line btn-col small zoom">
									Details
									<span class="icon">
										<i class="fa fa-leaf"></i>
									</span>
								</a>
							</li>
							<!-- Single Feature Ends -->
              <!-- Single Feature Starts -->
							<li class="single-feature" title="4 home style">
								<img src="images/4.jpg" alt="" class="feature-image" /><!-- Feature Icon -->
								<h4 class="feature-title color-scheme">Youssef Radi</h4>
								<p class="feature-text">
                  Back-end developer
                </p>
								<a href="#" class="fancy-button button-line btn-col small zoom">
									Details
									<span class="icon">
										<i class="fa fa-leaf"></i>
									</span>
								</a>
							</li>
							<!-- Single Feature Ends -->
              <!-- Single Feature Starts -->
							<li class="single-feature" title="Parallax Backgrounds">
								<img src="images/5.jpg" alt="" class="feature-image" /><!-- Feature Icon -->
								<h4 class="feature-title color-scheme">Mohamed Ashraf</h4>
								<p class="feature-text">
                  Back end developer
                </p>
								<a href="#" class="fancy-button button-line btn-col small zoom">
									Details
									<span class="icon">
										<i class="fa fa-leaf"></i>
									</span>
								</a>
							</li>
							<!-- Single Feature Ends -->
              <!-- Single Feature Starts -->
							<li class="single-feature" title="Ajax contact form">
								<img src="images/6.jpg" alt="" class="feature-image" /><!-- Feature Icon -->
								<h4 class="feature-title color-scheme">Hazem Ayman</h4>
								<p class="feature-text">
                  Front and Back end developer
              	</p>
								<a href="#" class="fancy-button button-line btn-col small zoom">
									Details
									<span class="icon">
										<i class="fa fa-leaf"></i>
									</span>
								</a>
							</li>
							<!-- Single Feature Ends -->
              <!-- Single Feature Starts -->
							<li class="single-feature" title="unlimited Google fonts">
								<img src="images/7.jpg" alt="" class="feature-image" /><!-- Feature Icon -->
								<h4 class="feature-title color-scheme">Mostafa Ibrahim</h4>
								<p class="feature-text">
                  Developer
                </p>
								<a href="#" class="fancy-button button-line btn-col small zoom">
									Details
									<span class="icon">
										<i class="fa fa-leaf"></i>
									</span>
								</a>
							</li>
							<!-- Single Feature Ends -->

            </ul>
          <!--Features container Ends -->

          <!-- Features Controls Starts -->
          <div class="features-control relative">
            <button class="control-icon fancy-button button-line no-text btn-col bell" id="feature-prev" title="Previous" >
              <span class="icon">
                <i class="fa fa-arrow-left"></i>
              </span>
            </button>
            <button class="control-icon fancy-button button-line no-text btn-col zoom" id="feature-expand" title="Expand" >
              <span class="icon">
                <i class="fa fa-expand"></i>
              </span>
            </button>
            <button class="control-icon fancy-button button-line no-text btn-col zoom" id="feature-close" title="Collapse" >
              <span class="icon">
                <i class="fa fa-compress"></i>
              </span>
            </button>
            <button class="control-icon fancy-button button-line no-text btn-col bell" id="feature-next" title="Next" >
              <span class="icon">
                <i class="fa fa-arrow-right"></i>
              </span>
            </button>
          </div>
          <!-- Features Controls Ends -->
      </div>
    </div>
  </div>
</section>
<!--=== Features section Ends ===-->

<div id="section-footer" class="footer-wrap">
		<div class="container footer center">
			<div class="row">
				<div class="col-lg-12">
					<h4 class="footer-title"><!-- Footer Title -->
						<a class="site-name" href="#"><span>I</span>beria</a>
					</h4>

					<!-- Social Links -->
					<div class="social-icons">
						<ul>
							<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
							<li><a href="#"><i class="fa fa-flickr"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
						</ul>
					</div>

					<p class="copyright">All rights reserved &copy; 2015</p>
				</div>
			</div>
		</div>
	</div>
	<!--=== Footer section Ends ===-->
