<div style="background: rgba(128,0,0, 1)">
    <div class="sticky-section">
        <div id="topbar-hold" class="nav-hold container">
            <nav class="navbar" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Main Navigation menu Starts -->
                <!--=== Site Name ===-->
                <!-- <a class="site-name navbar-brand" href="#"><span>E</span>gret</a> -->
                <a href="#" onclick="location.href = document.referrer; return false;">
                    <!-- <div id='logo'> -->
                    <span><img src='./assets/iberia-logo.png'></span>
                    <!-- </div> -->
                </a>
        </div>
        <!-- Main Navigation menu ends-->
        </nav>
    </div>
</div>
<link rel="stylesheet" href="css/style.css" />
<section id="section-download" class="download-wrap" style="background: rgba(255,255,255, .8)">
  <div class="col-md-4 text-left">
  <button type="button" href="#" onclick="location.href = document.referrer; return false;" class="btn btn-primary btn-lg" style="position:right; background:rgba(178,34,34, 1);margin-top: 15px" >Back to Iberia</button>
</div>
    <div class="container download center" style="border-radius: 25px;">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <h3><font color="black">Flights </font><br><br></h3>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <p class="intro-message">No Flights on this day, please head back to
                        <a href="#" onclick="location.href = document.referrer; return false;">
                            <p class="intro-message">home</p>
                        </a> page.</p>
                </div>
            </div>
        </div>
    </div>
</section>
