<DOCTYPE !HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>Flights</title>
  <script src="../js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="../css/bootstrap.min.css">  
  <link href="../css/top-bar.css" rel="stylesheet" type="text/css">
  <link href="../css/outgoing.css" rel="stylesheet" type="text/css">  
</head>
<body>
<div id='nav-bar'>
  <a href='./'> 
  <div id='logo'>
    <img src='../assets/iberia-logo.png'>
  </div>
  </a>
</div>
<div class='content'>
  <h1>Select your flights</h1>
  <div id='outgoing'>
  <h3><img src='../assets/outgoingPlane.png'>Outbound:From Madrid to Cairo 
  <small>Arrival Date</small></h3>
  <table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>Flight Number</th>
      <th>Operated by</th>
      <th>Departure Time</th>
      <th>Arrival Time</th>
      <th>Total Duration</th>
      <th>Economy</th>
      <th>Business</th> 
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td><input type="radio" name="optionsRadios" id="economy price" value="option1" checked="">
            000€</td>
      <td><input type="radio" name="optionsRadios" id="economy price" value="option1" checked="">
            000€</td>
    </tr>
    <tr>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td><input type="radio" name="optionsRadios" id="economy price" value="option1" checked="">
            000€</td>
      <td><input type="radio" name="optionsRadios" id="economy price" value="option1" checked="">
            000€</td>
    </tr>
  </tbody>
</table> 
  </div>
  <div id='return'>
  <h1>Now select your return flight</h1>
  <h3><img src='../assets/returnPlane.png'>Return: From Cairo to Madrid 
  <small>Departure Date</small></h3>
  <table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>Flight Number</th>
      <th>Operated by</th>
      <th>Departure Time</th>
      <th>Arrival Time</th>
      <th>Total Duration</th>
      <th>Economy</th>
      <th>Business</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td><input type="radio" name="optionsRadios" id="economy price" value="option1" checked="">
            000€</td>
      <td><input type="radio" name="optionsRadios" id="business price" value="option1" checked="">
            000€</td>
    </tr>
    <tr>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td><input type="radio" name="optionsRadios" id="economy price" value="option1" checked="">
            000€</td>
      <td><input type="radio" name="optionsRadios" id="business price" value="option1" checked="">
            
            000€</td>
    </tr>
  </tbody>
</table> 
  </div>
  <div id='price'>
  <blockquote>
  <p>Price of your tickets</p>
  <h3>000€</h3>
</blockquote>
<a href="#" class="btn btn-primary btn-lg">Book Flight</a>
  </div>
</div>
<script src="../js/outgoing.js"></script>
</body>
<html>