<div style="background: rgba(128,0,0, 1)">
    <div class="sticky-section">
        <div id="topbar-hold" class="nav-hold container">
            <nav class="navbar" role="navigation">
                </br>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                      <a href="#" onclick="location.href = document.referrer; return false;">
                        <span><img src="./assets/iberia-logo.png"></span>
                    </a>
                </div>
            </nav>
        </div>
    </div>
</div>

<section id="section-download" class="download-wrap" style="background: rgba(255,255,255, .8); height:100%">
    <div class="container download center">
        <div class='content'>
            <div class="col-md-10 col-md-offset-1 text-center">
                <h3><font color="black" size="10" style="
        	border-top: 1px solid;
        	border-bottom: 1px solid;
        	display: inline-block;
        	margin-top: 0;
        	padding: 8px 0;text-align: center;">Flights </font><br><br></h3>
            </div>
            <div class="form-group">
            <div ng-hide="outFlightFound">
               <h3>There are no flights available on selected date. Go back to
               <a href="#" onclick="location.href = document.referrer; return false;">Iberia</a>.</h3>
            </div>
          </div>
            <div ng-show="outFlightFound" >
            <h1 class="animated fadeInDown header-font">Select your flights</h1>
            <div id='outgoing'>
                <div class="animated slideInLeft">
                    <h3><img src='../assets/outgoingPlane.png'>Outbound:From {{origin}} to {{dest}}
                      <small></br>{{oDate | date}}</small></h3>

                </div>
                <table class="table table-striped table-hover table-bordered animated fadeInDown">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Flight Number</th>
                            <th>Operated by</th>
                            <th>Departure Time</th>
                            <th>Arrival Time</th>
                            <th>Total Duration</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                            <tbody>
                                <form name="myform">
                                    <tr ng-repeat="flight in outgoingInfo">
                                        <td>
                                            <input type="radio" ng-model="$parent.selectedOutgoingFlight" ng-value="{{flight}}" />
                                        </td>
                                        <td>{{flight.flightNumber}}</td>
                                        <td>{{flight.Airline}}</td>
                                        <td>{{stringToDate(flight.departureDateTime) | date : 'shortTime'}}</td>
                                        <td>{{stringToDate(flight.arrivalDateTime) | date : 'shortTime'}}</td>
                                        <td>{{timediff(flight.departureDateTime,flight.arrivalDateTime)}}</td>
                                        <td>{{flight.cost | currency: flight.currency+" "}} </td>
                                    </tr>
                                </form>
                            </tbody>
                </table>
            </div>

            <div ng-show="roundTrip === 'true'">
                <h1 class="animated fadeInDown header-font">Now select your return flight</h1>
                <div id='return'  class="animated slideInRight">
                    <h3><img src='../assets/returnPlane.png'>Return: From {{dest}} to {{origin}}<small></br>{{rDate |date}}</small></h3>
                </div>
                <table class="table table-striped table-hover table-bordered animated fadeInDown">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Flight Number</th>
                            <th>Operated by</th>
                            <th>Departure Time</th>
                            <th>Arrival Time</th>
                            <th>Total Duration</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <form>
                            <tr ng-repeat="flight in returnInfo">
                                <td>
                                    <input type="radio" ng-model="$parent.selectedReturnFlight" ng-value="{{flight}}" />
                                </td>
                                <td>{{flight.flightNumber}}</td>
                                <td>{{flight.Airline}}</td>
                                <td>{{stringToDate(flight.departureDateTime) | date : 'shortTime'}}</td>
                                <td>{{stringToDate(flight.arrivalDateTime) | date : 'shortTime'}}</td>
                                <td>{{timediff(flight.departureDateTime,flight.arrivalDateTime)}}</td>
                                <td>{{flight.cost | currency: flight.currency+" "}}</td>
                            </tr>
                        </form>
                    </tbody>
                </table>
            </div>
            <div id='price'>
                <blockquote>
                    <p>Price:</p>
                    <h3>{{(selectedReturnFlight.cost + selectedOutgoingFlight.cost) | currency:"$"}} x {{seats}} = {{(selectedReturnFlight.cost + selectedOutgoingFlight.cost)*seats | currency:"$"}}</h3>
                    <span ng-show="RadioSelected" style="color: red">Flight(s) must be selected</span>
                </blockquote>
                <a href class="btn btn-primary btn-lg hvr-underline-from-center" ng-click='BookFlight()'>Book Flight</a>
            </div>
        </div>
            </br>
        </div>
    </div>
</section>
