
<!-- <div id='nav-bar'>
  <a href='./'> 
  <div id='logo'>
    <img src='../assets/iberia-logo.png'>
  </div>
  </a>
</div> -->
<div class='content'>
  <h1>Select your flights</h1>
  <div id='outgoing'>
  <h3><img src='../assets/outgoingPlane.png'>Outbound:From {{origin}} to {{dest}} 
  <small>{{oDate}}</small></h3>
  <table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th></th> 
      <th>Flight Number</th>
      <th>Operated by</th>
      <th>Departure Time</th>
      <th>Arrival Time</th>
      <th>Total Duration</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
  <form>
    <tr ng-repeat="flight in outgoingInfo">
      <td><input type="radio" ng-model="$parent.selectedOutgoingFlight" value="{{flight}}" /></td>
      <td>{{flight.flightNumber}}</td>
      <td>iberia</td>
      <td>{{flight.departureTime}}</td>
      <td>{{flight.arrivalTime}}</td>
      <td>{{flight.arrivalTime - flight.departureTime}}</td>
       <td>
        <select ng-model="$parent.outgoingCabin">
          <option value="economy">
            Economy: {{flight.eCost}}
          </option>
          <option value="business">
            Business: {{flight.bCost}}
          </option>
        </select>
      </td>
    </tr>
  </form>
  </tbody>
</table> 
  </div>
  <div id='return' ng-show="roundTrip">
  <h1>Now select your return flight</h1>
  <h3><img src='../assets/returnPlane.png'>Return: From {{dest}} to {{origin}} 
  <small>{{rDate}}</small></h3>
  <table class="table table-striped table-hover table-bordered">
   <thead>
    <tr>
      <th></th> 
      <th>Flight Number</th>
      <th>Operated by</th>
      <th>Departure Time</th>
      <th>Arrival Time</th>
      <th>Total Duration</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
  <form >
    <tr ng-repeat="flight in returnInfo">
      <td><input type="radio" value="{{flight}}" ng-model="$parent.selectedReturnFlight"></td>
      <td>{{flight.flightNumber}}</td>
      <td>iberia</td>
      <td>{{flight.departureTime}}</td>
      <td>{{flight.arrivalTime}}</td>
      <td>{{flight.departureTime - flight.arrivalTime}}</td>
      <td>
        <select ng-model="$parent.returnCabin">
          <option value="economy">
            Economy: {{flight.eCost}}
          </option>
          <option value="business">
            Business: {{flight.bCost}}
          </option>
        </select>
      </td>
    </tr>
  </form>
  </tbody>
</table> 
  </div>
  <div id='price'>
  <blockquote>
  <p>Price of your tickets</p>
  <h3>000€</h3>
</blockquote>
<a href="#" class="btn btn-primary btn-lg">Book Flight</a>
  </div>
</div>