  <div class="flex-container">
    <div class="flex-columns flex-column-right">
      <div>
        <keruc-seatpicker class="ng-isolate-scope" data-data="seatsData" data-selected-nodes="selectedNodes" data-on-selected="nodeSelected($node)" data-on-deselected="nodeDeselected($node)" data-on-disallowed-selected="nodeDisallowedSelected($node)">
          <canvas width="500" height="500" id="canvasId"></canvas>
        </keruc-seatpicker>
        <div>
          <h6 class="list-heading">Events
            <small>run your own callbacks</small>
          </h6>
          <div class="ng-binding" ng-bind="userEvent">user deselected F7</div>
          <h6 class="list-heading">Selected seats
            <small>accessible in parent controller scope</small>
          </h6>
          <div>
            <!-- ngRepeat: node in selectedNodes track by node.uniqueName -->
            <span class="" ng-show="selectedNodes.length &lt;= 0">none</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  Selected Seats :
  {{selectedNodes.uniqueName}}

  <a href class="btn btn-primary btn-lg hvr-underline-from-center" ng-click='Reserve()'>Reserve
    {{way}}
    seat</a>
