input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


#payButton {
   background-color:black;
   margin: 50%; 
 /*  margin-left:auto;
   margin-right:auto;
   display:block;
   margin-top:22%;
   margin-bottom:0%*/
}